<div class="section__wrapper">
        <div class="row g-4 justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1">
            <div class="col">
                <div class="membership__item">
                    <div class="membership__inner">
                        <div class="membership__head">
                            <h4>一般會員</h4>
                        </div>
                        <div class="membership__body">
                            <h4>FREE</h4>
                            <ul class="membership__features">
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>配對會員</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>查看會員資料</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    <span>無限右滑</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-xmark"></i>
                                    <span>查看誰喜歡我</span>
                                </li>
                            </ul>
                        </div>
                        <div class="membership__footer"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="membership__item">
                    <div class="membership__inner">
                        <div class="membership__head">
                            <h4>白金會員</h4>
                        </div>
                        <div class="membership__body">
                            <h4>$300 / 1個月</h4>
                            <ul class="membership__features">
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>配對會員</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>查看會員資料</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>無限右滑</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    <span>查看誰喜歡我</span>
                                </li>
                            </ul>
                        </div>
                        <div class="membership__footer">
                            <a href="login.html" class="default-btn reverse"><span>選擇方案</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
.membership__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.membership__inner {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.membership__body {
    flex-grow: 1;
}

.membership__features li span {
    flex: 1;
    text-align: left;
}
</style>