@* @model 

<div style="width:60%; margin:0 auto;">
    <form action="/ManagementSystem/Login" method="post">
        <label>帳號</label>
        <input type="type" asp-for="" />
        <label>密碼</label>
        <input type="type" name="name" value="" />
        <button class="btn btn-primary" type="submit">登入</button>
    </form>
</div> *@