
<div>
    <h1>註冊成功！</h1>
    <p>我們已經向您的郵箱發送了一封確認郵件，請查收並點擊郵件中的鏈接以完成註冊。</p>
    <p>如果您沒有收到郵件，請檢查您的垃圾郵件文件夾，或<a href="#" onclick="ResendConfirmationEmail">點擊這裡重新發送確認郵件</a>。</p>
</div>

@section Scripts{
    <script>
        const searchParams = new URLSearchParams(window.location.search);
        int id = searchParams.get('id');
        const ResendConfirmationEmail = function (int id) {
            fetch(`api//Register/SendCheckEmail/${id}`)
                .then(resp = {
                    if(!resp.ok){
                        throw '傳送信件失敗，請聯繫管理員'
                }else {
                    return resp.json();
                }
                })
                .then()
                .catch(err => alert(err))
        }
    </script>
 
}