<link href="~/assets/css/profile_activitiesmanagement.css" rel="stylesheet" />
<div class="tab-pane fade show active" id="gt3" role="tabpanel" aria-labelledby="gt3-tab">
    <div id="activityPlatform">
		<ul class="tags lab-ul justify-content-center">
			<li>
				<button class="default-btn" @@click="switchType('commingup')">{{ buttonText('commingup', '即將舉辦活動') }}</button>
			</li>
			<li>
				<button class="default-btn" @@click="switchType('edit')">{{ buttonText('edit', '修改主辦活度內容') }}</button>
			</li>
			<li>
				<button class="default-btn" @@click="switchType('past')">{{ buttonText('past', '已結束的活動') }}</button>
			</li>
		</ul>
		<!-- ================> 即將發生的活動 <================== -->
		<div v-if="currentType === 'commingup'" v-for="act in allActivities" class="blog__item">
			<div class="blog__inner">
				<img src="assets/images/blog/10.jpg" alt="blog">
				<div class="blog__content">
					<h3>{{act.title}}</h3>
					<ul class="lab-ul blog__date">
						<li><span><i class="fa-solid fa-calendar-days"></i> 活動時間:{{act.activityTime}} </span></li>
						<li><span><i class="fa-solid fa-user"></i> 主辦者：{{act.host}}</span> </li>
						<li><span><i class="fa-solid fa-users"></i> {{act.participant.length}} 位參加者</span></li>
					</ul>
					<details @@toggle ="act.expandState = !act.expandState">
						<summary>{{act.expandState? '隱藏詳細內容' : '展開詳細內容'}}</summary>
					<div>
						<span class="infoTitle">活動類型：</span>
						{{act.type}}<br>
						<span class="infoTitle">活動內容：</span><br>
						{{act.content}}<br>
						<span class="infoTitle">注意事項：</span><br>
						{{act.notes}}
					</div>
					</details>
				</div>
			</div>
		</div>
		<!-- ================> 編輯主辦活動內容 <================== -->
		<div v-if="currentType === 'edit'" class="blog__item">
			<div class="blog__inner">
				<img src="assets/images/blog/10.jpg" alt="blog">
				<div class="blog__content">
					<h3>爬合歡山</h3>
					<ul class="lab-ul blog__date">
						<li><span><i class="fa-solid fa-calendar-days"></i> 活動時間:2024/4/13 10:00</span></li>
						<li><span><i class="fa-solid fa-user"></i> 主辦者：安安</span> </li>
						<li><span><i class="fa-solid fa-users"></i> 3 位參加者</span></li>
					</ul>
					<p>
						測試測試
					</p>
				</div>
			</div>
		</div>
		<!-- ================> 已經結束的活動 <================== -->
		<div v-if="currentType === 'past'" class="blog__item">
			<div class="blog__inner">
				<img src="assets/images/blog/10.jpg" alt="blog">
				<div class="blog__content">
					<h3>念書</h3>
					<ul class="lab-ul blog__date">
						<li><span><i class="fa-solid fa-calendar-days"></i> 活動時間:2023/12/13 10:00</span></li>
						<li><span><i class="fa-solid fa-user"></i> 主辦者：安安</span> </li>
						<li><span><i class="fa-solid fa-users"></i> 2 位參加者</span></li>
					</ul>
					<p>
						測試測試
					</p>
				</div>
			</div>
		</div>
    </div>
</div>
<script>
	const activityPlatform = Vue.createApp({
		data() {
			return {
				//先寫死的部分
				baseAddress: "https://localhost:7152",
				loginUserId: 8,
				//先寫死的部分
				currentType: "commingup",
				allActivities:[],
				commingupActivities: [],
				editActivities: [],
				pastActivities: [],
				activitiyType: [],
			}
		},
		methods: {
			//取得登入者所有活動
			getActivitiesList(userId){
				fetch(`api/personalActivities/GetActivities/${this.loginUserId}`)
					.then(res => res.json())
					.then(data => {
						this.allActivities = data.map(activity => ({
						...activity,
						expandState: false
						})); 
					})
					.catch(error => { console.log('fetch allActivities failed!') });
			},
			//取得所有活動類型
			getActivityTypeList(){
				fetch(`api/personalActivities/GetActivityType`)
					.then(res => res.json())
					.then(data => { 
						this.activitiyType = data;
					})
					.catch(error => { console.log('fetch activityType failed!') });
			},
			//將請求的個人所有活動分類到不同時態的陣列
			// PackActivitiesToArray() {
			// 	const Now = new Date();
			// 	this.commingupActivities = this.allActivities.filter(activity => 
			// 		const activityTime = new Date(activity.T);
			// 		return activityTime > Now);
			// },
			//切換狀態顯示活動
			switchType(type) {
				this.currentType = type;
			},
			buttonText(type, text) {
				return this.currentType === type ? '● ' + text : text;
			},
        },
        mounted() {
			this.getActivitiesList(this.loginUserId);
			this.getActivityTypeList();
			// this.PackActivitiesToArray();
        },
    })
        .mount('#activityPlatform');
</script>