<div class="tab-pane fade show active" id="gt3" role="tabpanel" aria-labelledby="gt3-tab">
    <div id="activityPlatform">
        個人活動管理頁
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const activityPlatform = Vue.createApp({
        data() {
                return{
                baseAddress: "https://localhost:7152",
            }
        },
        methods: {

        },
        mounted() {

        },
    })
        .mount('#activityPlatform');
</script>