<link href="~/assets/css/profile_activitiesmanagement.css" rel="stylesheet" />
<div class="tab-pane fade show active" id="gt3" role="tabpanel" aria-labelledby="gt3-tab">
    <div id="activityPlatform">
		<ul class="tags lab-ul justify-content-center">
			<li>
				<button class="default-btn" @@click="switchType('commingup')">{{ buttonText('commingup', '即將舉辦活動') }}</button>
			</li>
			<li>
				<button class="default-btn" @@click="switchType('host')">{{ buttonText('host', '修改主辦活度內容') }}</button>
			</li>
			<li>
				<button class="default-btn" @@click="switchType('past')">{{ buttonText('past', '已結束的活動') }}</button>
			</li>
		</ul>
		<!-- 彈出視窗們 -->
		<!-- 取消參加活動視窗 -->
		<div class="canelAttendBox">
			<span>確定要退出活動嗎？</span><br><br>
			<button class="btn btn-danger" @@click="cancelAttendActivity">是</button>
			<button class="btn btn-outline-secondary" @@click="escCancelAttendBox">否</button>
		</div>
		<!-- ================> 即將發生的活動 <================== -->
		<div v-if="currentType === 'commingup'" v-for="act in commingupActivities" class="blog__item">
			<div class="blog__inner">
				<img src="assets/images/blog/10.jpg" alt="blog">
				<div class="blog__content">
					<h3>{{act.title}}</h3>
					<ul class="lab-ul blog__date">
						<li><span><i class="fa-solid fa-calendar-days"></i> 活動時間：{{act.activityTime}} </span></li>
						<li><span><i class="fa-solid fa-user"></i> 主辦者：{{act.host}}</span> </li>
						<li><span><i class="fa-solid fa-users"></i> {{act.participant.length}} 位參加者</span></li>
						<li><span><i class="fa-solid fa-map-location-dot"></i> 活動地點：{{act.location}}</span></li>
					</ul>
					<details @@toggle ="act.expandState = !act.expandState">
						<summary>{{act.expandState? '隱藏詳細內容' : '展開詳細內容'}}</summary>
					<div>
						<span class="infoTitle">活動類型：</span>
						{{act.type}}<br>
						<span class="infoTitle">活動費用：</span>
						{{act.amount}}元<br>
						<span class="infoTitle">報名人數上限：</span>
						{{act.max}}<br>
						<span class="infoTitle">活動內容：</span><br>
						{{act.content}}<br>
						<span class="infoTitle">注意事項：</span><br>
						{{act.notes}}<br><br>
							<!-- Host與登入會員不相同才有取消參加活動按鈕 -->
							<button v-if="act.hostId != loginUserId" class="default-btn" id="cancelAttend" @@click="showCancelAttend(act.id)">
								取消參加活動
							</button>
					</div>
					</details>
				</div>
			</div>
		</div>
		<!-- ================> 編輯主辦活動內容 <================== -->
		<div v-if="currentType === 'host'" v-for="act in hostActivities" class="blog__item">
			<div class="blog__inner">
				<img src="assets/images/blog/10.jpg" alt="blog">
				<div class="blog__content">
					<h3>{{act.title}}</h3>
					<ul class="lab-ul blog__date">
						<li><span><i class="fa-solid fa-calendar-days"></i> 活動時間：{{act.activityTime}} </span></li>
						<li><span><i class="fa-solid fa-user"></i> 主辦者：{{act.host}}</span> </li>
						<li><span><i class="fa-solid fa-users"></i> {{act.participant.length}} 位參加者</span></li>
						<li><span><i class="fa-solid fa-map-location-dot"></i> 活動地點：{{act.location}}</span></li>
					</ul>
					<details @@toggle="act.expandState = !act.expandState">
						<summary>{{act.expandState? '隱藏詳細內容' : '展開詳細內容'}}</summary>
						<div>
							<span class="infoTitle">活動類型：</span>
							{{act.type}}<br>
							<span class="infoTitle">活動費用：</span>
							{{act.amount}}元<br>
							<span class="infoTitle">報名人數上限：</span>
							{{act.max}}<br>
							<span class="infoTitle">活動內容：</span><br>
							{{act.content}}<br>
							<span class="infoTitle">注意事項：</span><br>
							{{act.notes}}
						</div>
					</details>
				</div>
			</div>
		</div>
		<!-- ================> 已經結束的活動 <================== -->
		<div v-if="currentType === 'past'" v-for="act in pastActivities" class="blog__item">
			<div class="blog__inner">
				<img src="assets/images/blog/10.jpg" alt="blog">
				<div class="blog__content">
					<h3>{{act.title}}</h3>
					<ul class="lab-ul blog__date">
						<li><span><i class="fa-solid fa-calendar-days"></i> 活動時間：{{act.activityTime}} </span></li>
						<li><span><i class="fa-solid fa-user"></i> 主辦者：{{act.host}}</span> </li>
						<li><span><i class="fa-solid fa-users"></i> {{act.participant.length}} 位參加者</span></li>
						<li><span><i class="fa-solid fa-map-location-dot"></i> 活動地點：{{act.location}}</span></li>
					</ul>
					<details @@toggle="act.expandState = !act.expandState">
						<summary>{{act.expandState? '隱藏詳細內容' : '展開詳細內容'}}</summary>
						<div>
							<span class="infoTitle">活動類型：</span>
							{{act.type}}<br>
							<span class="infoTitle">活動費用：</span>
							{{act.amount}}元<br>
							<span class="infoTitle">報名人數上限：</span>
							{{act.max}}<br>
							<span class="infoTitle">活動內容：</span><br>
							{{act.content}}<br>
							<span class="infoTitle">注意事項：</span><br>
							{{act.notes}}
						</div>
					</details>
				</div>
			</div>
		</div>
    </div>
</div>
<script>
	const activityPlatform = Vue.createApp({
		data() {
			return {
				//先寫死的部分
				baseAddress: "https://localhost:7152",
				loginUserId: @ViewBag.UserId,
				//先寫死的部分
				currentType: "commingup",
				commingupActivities: [],
				hostActivities: [],
				pastActivities: [],
				activitiyType: [],
				editActType: 0,
				editActContent: "",
				waitingToCancel:0,
			}
		},
		methods: {
			//取得登入者即將發生活動
			getCommingupList(userId) {
				fetch(`api/personalActivities/GetCommingupActivities/${this.loginUserId}`)
					.then(res => res.json())
					.then(data => {
						this.commingupActivities = data.map(activity => ({
							...activity,
							expandState: false
						}));
					})
					.catch(error => { console.log('fetch commingupActivities failed!') });
			},
			//取得登入者主辦活動
			getHostList(userId) {
				fetch(`api/personalActivities/GetHostActivities/${this.loginUserId}`)
					.then(res => res.json())
					.then(data => {
						this.hostActivities = data.map(activity => ({
							...activity,
							expandState: false
						}));
					})
					.catch(error => { console.log('fetch hostActivities failed!') });
			},
			//取得已結束活動
			getPastList(userId) {
				fetch(`api/personalActivities/GetPastActivities/${this.loginUserId}`)
					.then(res => res.json())
					.then(data => {
						this.pastActivities = data.map(activity => ({
							...activity,
							expandState: false
						}));
					})
					.catch(error => { console.log('fetch pastActivities failed!') });
			},
			//取得所有活動類型
			getActivityTypeList() {
				fetch(`api/personalActivities/GetActivityType`)
					.then(res => res.json())
					.then(data => {
						this.activitiyType = data;
					})
					.catch(error => { console.log('fetch activityType failed!') });
			},
			//切換狀態顯示活動
			switchType(type) {
				this.currentType = type;
			},
			buttonText(type, text) {
				return this.currentType === type ? '● ' + text : text;
			},
			//顯示退出活動視窗
			showCancelAttend(id) {
				event.preventDefault();
				$('.canelAttendBox').css("display", "block");
				this.waitingToCancel = id;
			},
			//取消刪除貼文視窗
			escCancelAttendBox() {
				event.preventDefault();
				$('.canelAttendBox').css("display", "none");
				this.waitingToCancel = 0;
			},
			//取消參加活動
			cancelAttendActivity(){
				event.preventDefault();
				let request = {
					"Id": 0,
					"ActivityId": this.waitingToCancel,
					"UserId": this.loginUserId
				};
				fetch(`api/personalActivities/NotAttending`, {
					method: 'Delete',
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(request)
				})
					.then(response => response.json())
					.then(data => {
						console.log(data);
						this.getCommingupList(this.loginUserId);
					})
					.catch(error => {
						console.log('fetch cancel attend activity failed!', error)
					});
				$('.canelAttendBox').css("display", "none");
			},
		
        },
        mounted() {
			this.getCommingupList(this.loginUserId);
			this.getHostList(this.loginUserId);
			this.getPastList(this.loginUserId);
			this.getActivityTypeList();
        },
    })
        .mount('#activityPlatform');
</script>