<div class="tab-pane fade show active" id="gt4" role="tabpanel" aria-labelledby="gt4-tab">
    <div class="active-member bg-white mb-4">
        <div class="modal-header">
            <h6>好友列表</h6>
            <ul class="nav nav-tabs" id="myTab4" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Newest-tab" data-bs-toggle="tab" data-bs-target="#Newest" type="button" role="tab" aria-controls="Newest" aria-selected="true">好友</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Popular-tab" data-bs-toggle="tab" data-bs-target="#Popular" type="button" role="tab" aria-controls="Popular" aria-selected="false">黑名單</button>
                </li>
            </ul>
        </div>
        <div class="modal-body group__bottom--body">
            <div class="tab-content" id="myTabContent4">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/01.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/02.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Marina Holzman</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/03.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Thorsten Luft</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/04.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Juliane Bieber</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/05.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Jens Klein</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="Popular" role="tabpanel" aria-labelledby="Popular-tab">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/06.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/07.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/08.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/09.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/10.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




   
   

