<div class="tab-pane fade" id="gt4" role="tabpanel" aria-labelledby="gt4-tab">
    <div class="active-member bg-white mb-4">
        <div class="modal-header">
            <h6>好友列表</h6>
            <ul class="nav nav-tabs" id="myTab4" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Newest-tab" data-bs-toggle="tab" data-bs-target="#Newest" type="button" role="tab" aria-controls="Newest" aria-selected="true">好友</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="BlackList-tab" data-bs-toggle="tab" data-bs-target="#BlackList" type="button" role="tab" aria-controls="BlackList" aria-selected="false">黑名單</button>
                </li>
            </ul>
        </div>
        <div class="modal-body group__bottom--body">
            <div class="tab-content" id="myTabContent4">
                <div class="tab-pane fade show active" id="Newest" role="tabpanel" aria-labelledby="Newest-tab">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/01.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>LBJ</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/02.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Allen</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/03.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Sean</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/04.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Bieber</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/05.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Klein</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="BlackList" role="tabpanel" aria-labelledby="BlackList-tab">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/06.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/07.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Schmid</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/08.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Chloe</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/09.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Jennie</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/10.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Jeans</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

        .right a, .right span {
            margin-right: auto;
        }
</style>

<script>
    var blockButtons = document.querySelectorAll('.block-btn');

    blockButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var memberItem = this.closest('li');
            var blacklist = document.getElementById('BlackList').querySelector('ul');
            blacklist.appendChild(memberItem);

            this.style.display = 'none';

            var unblockButton = document.createElement('button');
            unblockButton.className = 'btn btn-success unblock-btn';
            unblockButton.innerText = '解鎖';
            unblockButton.addEventListener('click', function () {
                var friendsList = document.getElementById('Newest').querySelector('ul');
                friendsList.appendChild(memberItem);

                this.remove();
                button.style.display = 'inline-block';
            });

            memberItem.querySelector('.right').appendChild(unblockButton);
        });
    });

    document.querySelectorAll('.unblock-btn').forEach(function (button) {
        button.addEventListener('click', function () {
            var memberItem = this.closest('li');
            var friendsList = document.getElementById('Newest').querySelector('ul');
            friendsList.appendChild(memberItem);

            this.remove();

            var blockButton = memberItem.querySelector('.block-btn');
            if (blockButton) {
                blockButton.style.display = 'inline-block';
            } else {
                var newBlockButton = document.createElement('button');
                newBlockButton.className = 'btn btn-danger block-btn';
                newBlockButton.innerText = '封鎖';
                newBlockButton.addEventListener('click', function () {
                    var blacklist = document.getElementById('BlackList').querySelector('ul');
                    blacklist.appendChild(memberItem);

                    this.style.display = 'none';

                    var newUnblockButton = document.createElement('button');
                    newUnblockButton.className = 'btn btn-success unblock-btn';
                    newUnblockButton.innerText = '解鎖';
                    newUnblockButton.addEventListener('click', function () {
                        friendsList.appendChild(memberItem);

                        this.remove();
                        newBlockButton.style.display = 'inline-block';
                    });

                    memberItem.querySelector('.right').appendChild(newUnblockButton);
                });

                memberItem.querySelector('.right').appendChild(newBlockButton);
            }
        });
    });
</script>
