<div class="tab-pane fade" id="gt4" role="tabpanel" aria-labelledby="gt4-tab">
    <div class="active-member bg-white mb-4">
        <div class="modal-header">
            <h6>好友列表</h6>
            <ul class="nav nav-tabs" id="myTab4" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Newest-tab" data-bs-toggle="tab" data-bs-target="#Newest" type="button" role="tab" aria-controls="Newest" aria-selected="true">好友</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="BlackList-tab" data-bs-toggle="tab" data-bs-target="#BlackList" type="button" role="tab" aria-controls="BlackList" aria-selected="false">黑名單</button>
                </li>
            </ul>
        </div>
        <div class="modal-body group__bottom--body">
            <div class="tab-content" id="myTabContent4">
                <div class="tab-pane fade show active" id="Newest" role="tabpanel" aria-labelledby="Newest-tab">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/01.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>LBJ</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/02.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Allen</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/03.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Sean</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/04.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Bieber</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/05.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Klein</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-danger block-btn">封鎖</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="BlackList" role="tabpanel" aria-labelledby="BlackList-tab">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/06.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/07.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Schmid</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/08.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Chloe</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/09.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Jennie</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/10.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Jeans</h6></a>
                                    <span>2 years ago</span>
                                    <button class="btn btn-success unblock-btn">解鎖</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend List</title>
    <style>
        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="tab-pane fade show active" id="Newest" role="tabpanel" aria-labelledby="Newest-tab"></div>
    <div id="BlackList" role="tabpanel"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userId = 1; // 用户ID，可以依照實際情況進行更改

            // 從API取得好友列表資料
            fetch(`/api/FriendApi/GetFriend/${userId}`)
                .then(response => response.json())
                .then(data => {
                    renderFriendList(data);
                })
                .catch(error => console.error('Error:', error));
        });

        function renderFriendList(data) {
            const friendListContainer = document.getElementById('Newest');
            const blackListContainer = document.getElementById('BlackList');
            friendListContainer.innerHTML = ''; // 清空當前列表
            blackListContainer.innerHTML = ''; // 清空當前黑名单列表

            data.forEach(FriendDTO => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="${FriendDTO.Image}" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>${FriendDTO.Name}</h6></a>
                                    <span>${FriendDTO.ActivityTime} days ago</span>
                                    <button class="btn ${FriendDTO.IsBlocked ? 'btn-success unblock-btn' : 'btn-danger block-btn'}">
                                        ${FriendDTO.IsBlocked ? '解鎖' : '封鎖'}
                                    </button>
                                </div>
                            </div>
                        `;

                if (FriendDTO.IsBlocked) {
                    blackListContainer.appendChild(listItem);
                } else {
                    friendListContainer.appendChild(listItem);
                }
            });

            updateButtons();
        }

        function updateButtons() {
            document.querySelectorAll('.block-btn').forEach(button => {
                button.onclick = function () {
                    const friendId = button.closest('li').dataset.id;
                    fetch('/api/FriendApi/BlockUser', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(friendId)
                    }).then(() => {
                        const memberItem = button.closest('li');
                        document.getElementById('BlackList').appendChild(memberItem);
                        button.innerText = '解鎖';
                        button.className = 'btn btn-success unblock-btn';
                        updateButtons();
                    });
                };
            });

            document.querySelectorAll('.unblock-btn').forEach(button => {
                button.onclick = function () {
                    const friendId = button.closest('li').dataset.id;
                    fetch('/api/FriendApi/UnblockUser', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(friendId)
                    }).then(() => {
                        const memberItem = button.closest('li');
                        document.getElementById('Newest').appendChild(memberItem);
                        button.innerText = '封鎖';
                        button.className = 'btn btn-danger block-btn';
                        updateButtons();
                    });
                };
            });
        }
    </script>
</body>
</html>

