<div class="tab-pane fade show active" id="gt4" role="tabpanel" aria-labelledby="gt4-tab">
    <div class="active-member bg-white mb-4">
        <div class="modal-header">
            <h6>好友列表</h6>
            <ul class="nav nav-tabs" id="myTab4" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="Newest-tab" data-bs-toggle="tab" data-bs-target="#Newest" type="button" role="tab" aria-controls="Newest" aria-selected="true">好友</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="Popular-tab" data-bs-toggle="tab" data-bs-target="#Popular" type="button" role="tab" aria-controls="Popular" aria-selected="false">黑名單</button>
                </li>
            </ul>
        </div>
        <div class="modal-body group__bottom--body">
            <div class="tab-content" id="myTabContent4">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/01.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/02.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Marina Holzman</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/03.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Thorsten Luft</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/04.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Juliane Bieber</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/05.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Jens Klein</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="Popular" role="tabpanel" aria-labelledby="Popular-tab">
                    <ul>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/06.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/07.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/08.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/09.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <div class="left member--style2">
                                    <div class="member__thumb">
                                        <img src="assets/images/member/home2/10.jpg" alt="member-img">
                                        <span class="member__activity"></span>
                                    </div>
                                </div>
                                <div class="right">
                                    <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                    <span>2 years ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
﻿  <div class="tab-pane fade" id="gt4" role="tabpanel" aria-labelledby="gt4-tab"> 
<div class="active-member bg-white mb-4">
                                <div class="modal-header">
                                    <h6>好友列表</h6>
                                    <ul class="nav nav-tabs" id="myTab4" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="Newest-tab" data-bs-toggle="tab" data-bs-target="#Newest" type="button" role="tab" aria-controls="Newest" aria-selected="true">好友</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="Popular-tab" data-bs-toggle="tab" data-bs-target="#Popular" type="button" role="tab" aria-controls="Popular" aria-selected="false">黑名單</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body group__bottom--body">
                                    <div class="tab-content" id="myTabContent4">
                                        <div class="tab-pane fade show active" id="Newest" role="tabpanel" aria-labelledby="Newest-tab">
                                            <ul>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/01.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/02.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Marina Holzman</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/03.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Thorsten Luft</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/04.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Juliane Bieber</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/05.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Jens Klein</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="Popular" role="tabpanel" aria-labelledby="Popular-tab">
                                            <ul>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/06.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/07.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/08.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/09.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="top">
                                                        <div class="left member--style2">
                                                            <div class="member__thumb">
                                                                <img src="assets/images/member/home2/10.jpg" alt="member-img">
                                                                <span class="member__activity"></span>
                                                            </div>
                                                        </div>
                                                        <div class="right">
                                                            <a href="member-single.html"><h6>Leon Schmid</h6></a>
                                                            <span>2 years ago</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                    
               

    <div class="groupmodal" id="groupmodal">
        <div class="container">
            <div class="groupmodal__area">
                <div class="post-item">
                    <div class="post-content">
                        <div class="post-author">
                            <div class="post-author-inner">
                                <div class="author-thumb">
                                    <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                </div>
                                <div class="author-details">
                                    <h6><a href="#">William Smith</a></h6>
                                    <ul class="post-status">
                                        <li class="post-privacy"><i class="icofont-world"></i> Public</li>
                                        <li class="post-time">6 Mintues Ago </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="post-description">
                            
                            <div class="post-desc-img">
                                <img src="assets/images/group/single/01.jpg" alt="dating thumb">
                            </div>
                        </div>
                    </div>
                    
                    <div class="post-meta">
                        <div class="post-meta-top">
                            <p><a href="#"><i class="fa-solid fa-thumbs-up"></i> <i class="fa-solid fa-heart"></i> <i class="fa-solid fa-face-laugh"></i><span>Julia, Petrova & 306 like this</span></a></p>
                            <p><a href="#">136 Comments</a></p>
                        </div>
                        <div class="post-meta-bottom">
                            <ul class="react-list">
                                <li class="react"><a href="#"><i class="fa-solid fa-thumbs-up"></i>Like</a> </li>
                                <li class="react"><a href="#"><i class="fa-solid fa-comment"></i>Comment</a></li>
                                <li class="react"><a href="#"><i class="fa-solid fa-share-nodes"></i> Share </a></li>
                            </ul>
                        </div>
                    </div>





   
    <div class="groupmodal" id="groupmodalvideo">
        <div class="container">
            <div class="groupmodal__area">
                <div class="post-item">
                    <div class="post-content">
                        <div class="post-author">
                            <div class="post-author-inner">
                                <div class="author-thumb">
                                    <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                </div>
                                <div class="author-details">
                                    <h6><a href="#">William Smith</a></h6>
                                    <ul class="post-status">
                                        <li class="post-privacy"><i class="icofont-world"></i> Public</li>
                                        <li class="post-time">6 Mintues Ago </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="post-description">
                            <div class="post-desc-img">
                                <iframe src="https://www.youtube.com/embed/U9O8G5AreXE" title="YouTube video player" height="300"  allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    
                    <div class="post-meta">
                        <div class="post-meta-top">
                            <p><a href="#"><i class="fa-solid fa-thumbs-up"></i> <i class="fa-solid fa-heart"></i> <i class="fa-solid fa-face-laugh"></i><span>Julia,Akhi & 306 like this</span></a></p>
                            <p><a href="#">136 Comments</a></p>
                        </div>
                        <div class="post-meta-bottom">
                            <ul class="react-list">
                                <li class="react"><a href="#"><i class="fa-solid fa-thumbs-up"></i>Like</a> </li>
                                <li class="react"><a href="#"><i class="fa-solid fa-comment"></i>Comment</a></li>
                                <li class="react"><a href="#"><i class="fa-solid fa-share-nodes"></i> Share </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
