<div class="tab-pane fade show active" id="gt1" role="tabpanel" aria-labelledby="gt1-tab">
    <div class="group__bottom--head group__bottom--activity bg-white mb-4 border-0">
        <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Personal-tab" data-bs-toggle="tab" data-bs-target="#Personal" type="button" role="tab" aria-controls="Personal" aria-selected="true">Personal</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Mentions-tab" data-bs-toggle="tab" data-bs-target="#Mentions" type="button" role="tab" aria-controls="Mentions" aria-selected="false">Mentions</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Favorites-tab" data-bs-toggle="tab" data-bs-target="#Favorites" type="button" role="tab" aria-controls="Favorites" aria-selected="false">Favorites</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Friends-tab" data-bs-toggle="tab" data-bs-target="#Friends" type="button" role="tab" aria-controls="Friends" aria-selected="false">Friends</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Groups-tab" data-bs-toggle="tab" data-bs-target="#Groups" type="button" role="tab" aria-controls="Groups" aria-selected="false">Groups</button>
            </li>
        </ul>
    </div>

    <div class="group__bottom--area group__bottom--memberactivity">
        <div class="group__bottom--body">
            <div class="group__bottom--allmedia">
                <div class="media-wrapper">
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade show active" id="Personal"
                             role="tabpanel" aria-labelledby="Personal-tab">

                            <div class="create-post mb-4">
                                <div class="lab-inner">
                                    <div class="lab-thumb">
                                        <div class="thumb-inner">
                                            <div class="thumb-img">
                                                <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                            </div>
                                            <div class="thumb-content">
                                                <h6><a href="#"> William Smith</a></h6>
                                                <div class="custom-select">
                                                    <select>
                                                        <option value="1"> Public</option>
                                                        <option value="2"> Private</option>
                                                        <option value="3"> Friends</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lab-content">
                                        <form action="#" class="post-form">
                                            <input id="post-input" type="text" placeholder="Whats on your mind. William?">
                                            <div class="content-type">
                                                <ul class="content-list">
                                                    <li class="text"><a href="#"><i class="fa-solid fa-pen-to-square"></i>Text </a></li>
                                                    <li class="image-video">
                                                        <div class="file-btn"><i class="fa-solid fa-camera"></i>Photo/Videos</div>
                                                        <input type="file">
                                                    </li>
                                                    <li class="attach-file">
                                                        <div class="file-btn"><i class="fa-solid fa-link"></i>Attach File</div>
                                                        <input type="file">
                                                    </li>
                                                    <li class="post-submit">
                                                        <input type="submit" value="Post" class="default-btn">
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="post-item mb-4">
                                <div class="post-content">
                                    <div class="post-author">
                                        <div class="post-author-inner">
                                            <div class="author-thumb">
                                                <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                            </div>
                                            <div class="author-details">
                                                <h6><a href="#">TIM101_POST</a></h6>
                                                <ul class="post-status">
                                                    <li class="post-privacy"><i class="icofont-world"></i> Public</li>
                                                    <li class="post-time">6 Mintues Ago</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 貼文內容 -->
                                    <div class="post-description">
                                        <p>TIM101_TEST</p>
                                        <div class="post-desc-img">
                                            <img src="assets/images/group/single/01.jpg" alt="dating thumb">
                                        </div>
                                    </div>
                                </div>

                                <!-- 貼文按鈕 -->
                                <div class="post-meta">
                                    <div class="post-meta-top">
                                        <p>
                                            <a href="#" class="comment-link">
                                                <i class="fa-solid fa-thumbs-up"></i> <i class="fa-solid fa-heart"></i> <i class="fa-solid fa-face-laugh"></i> <span>
                                                    Julia, Petrova
                                                    and 306 like this
                                                </span>
                                            </a>
                                        </p>
                                        <p><a href="#" class="comment-link">Show Comments</a></p>
                                    </div>
                                    <div class="post-meta-bottom">
                                        <ul class="react-list">
                                            <li class="react"><a href="#"><i class="fa-solid fa-thumbs-up"></i>Like</a> </li>
                                            <li class="react"><a href="#"><i class="fa-solid fa-comment"></i>Comment</a></li>
                                            <li class="react"><a href="#"><i class="fa-solid fa-share-nodes"></i>Share</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- 回覆貼文區域 -->
                                <div class="post-replies" style="display: none;">
                                    <!-- 回覆貼文內容 -->
                                    <div class="post-replies-in">
                                        <div class="reply-item">
                                            <div class="reply-author">
                                                <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                                <span>Reply User1</span>
                                            </div>
                                            <div class="reply-content">
                                                <p>Reply Post1</p>
                                            </div>
                                            <button class="nested-reply-button btn btn-link">回覆的回覆</button>
                                            <div class="nested-reply-form" style="display: none;">
                                                <div class="reply-form">
                                                    <input type="text" class="nested-reply-input" placeholder="Write a reply...">
                                                    <button class="nested-reply-submit-button">回覆的回覆</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="reply-item_1">
                                            <div class="reply-author">
                                                <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                                <span>Reply Author</span>
                                            </div>
                                            <div class="reply-content">
                                                <p>123</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 回覆input & post -->
                                <div class="reply-form">
                                    <input type="text" class="reply-input" placeholder="Write a reply...">
                                    <button class="reply-button">貼文回覆</button>
                                </div>
                            </div>

                            <div class="post-item mb-4">
                                <div class="post-content">
                                    <div class="post-author">
                                        <div class="post-author-inner">
                                            <div class="author-thumb">
                                                <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                            </div>
                                            <div class="author-details">
                                                <h6><a href="#">William Smith</a></h6>
                                                <ul class="post-status">
                                                    <li class="post-privacy"><i class="icofont-world"></i> Public</li>
                                                    <li class="post-time">6 Mintues Ago </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-description">
                                        <p>Quickly deliver going forward methods info create empowerment before with client centered bandwdth Credibly pontficate interoperable leadership skills ands B2B data awesome Continually whiteboard ands B2B data awesome Continually whiteboard</p>
                                        <div class="post-desc-img">
                                            <img src="assets/images/group/single/01.jpg" alt="dating thumb">
                                        </div>
                                    </div>
                                </div>

                                <div class="post-meta">
                                    <div class="post-meta-top">
                                        <p><a href="#"><i class="fa-solid fa-thumbs-up"></i> <i class="fa-solid fa-heart"></i> <i class="fa-solid fa-face-laugh"></i> <span>Julia, Petrova and 306 like this</span></a></p>
                                        <p><a href="#">136 Comments</a></p>
                                    </div>
                                    <div class="post-meta-bottom">
                                        <ul class="react-list">
                                            <li class="react"><a href="#"><i class="fa-solid fa-thumbs-up"></i>Like</a> </li>
                                            <li class="react"><a href="#"><i class="fa-solid fa-comment"></i>Comment</a></li>
                                            <li class="react"><a href="#"><i class="fa-solid fa-share-nodes"></i>Share</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- 回复贴文的区域 -->
                                <div class="post-replies" style="display: none;">
                                    <!-- 这里是回复的内容，可以是一条或多条回复 -->
                                    <div class="reply-item">
                                        <div class="reply-author">
                                            <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                            <span>Reply Author</span>
                                        </div>
                                        <div class="reply-content">
                                            <p>This is a reply to the post.</p>
                                        </div>
                                    </div>
                                    <!-- 可以添加更多回复 -->
                                </div>

                                <!-- 展开/收起按钮 -->
                                <div class="toggle-replies">
                                    <a href="#" class="toggle-btn">Show Replies</a>
                                </div>
                            </div>

                            <div class="post-item mb-4">
                                <div class="post-content">
                                    <div class="post-author">
                                        <div class="post-author-inner">
                                            <div class="author-thumb">
                                                <img src="assets/images/member/profile/profile.jpg" alt="datting thumb">
                                            </div>
                                            <div class="author-details">
                                                <h6><a href="#">William Smith</a></h6>
                                                <ul class="post-status">
                                                    <li class="post-privacy"><i class="icofont-world"></i> Public</li>
                                                    <li class="post-time">6 Mintues Ago </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-description">
                                        <p>Quickly deliver going forward methods info create empowerment before with client centered bandwdth Credibly pontficate interoperable leadership skills ands B2B data awesome Continually whiteboard ands B2B data awesome Continually whiteboard</p>
                                        <div class="post-desc-img">
                                            <img src="assets/images/group/single/01.jpg" alt="dating thumb">
                                        </div>
                                    </div>
                                </div>

                                <div class="post-meta">
                                    <div class="post-meta-top">
                                        <p><a href="#"><i class="fa-solid fa-thumbs-up"></i> <i class="fa-solid fa-heart"></i> <i class="fa-solid fa-face-laugh"></i><span>Julia, Petrova and 306 like this</span></a></p>
                                        <p><a href="#">136 Comments</a></p>
                                    </div>
                                    <div class="post-meta-bottom">
                                        <ul class="react-list">
                                            <li class="react"><a href="#"><i class="fa-solid fa-thumbs-up"></i>Like</a> </li>
                                            <li class="react"><a href="#"><i class="fa-solid fa-comment"></i>Comment</a></li>
                                            <li class="react"><a href="#"><i class="fa-solid fa-share-nodes"></i> Share </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <a href="#" class="default-btn"><span>Load More Post</span></a>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Mentions" role="tabpanel" aria-labelledby="Mentions-tab">
                            <div class="post-item">
                                <div class="post-content">
                                    <div class="post-author pb-3">
                                        <div class="post-author-inner">
                                            <div class="author-thumb">
                                                <img src="assets/images/member/home2/01.jpg" alt="datting thumb">
                                            </div>
                                            <div class="author-details">
                                                <h6><a href="#">David Baecker</a></h6>
                                                <ul class="post-status">
                                                    <li class="post-privacy"><i class="icofont-world"></i> Public</li>
                                                    <li class="post-time">46 Mintues Ago</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-description ps-5">
                                        @* <p class="ms-5 ps-2">Hello @<a href="#">Sara Hartmann</a></p> *@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Favorites" role="tabpanel" aria-labelledby="Favorites-tab">
                            <div class="post-item mb-4">
                                <div class="post-content p-4">
                                    <p class="mb-0">Sorry, there was no activity found. Please try a different filter.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Friends" role="tabpanel" aria-labelledby="Friends-tab">
                            <div class="activity__item mb-3">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/01.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Daniel Becker </a><span>became Friend with <a href="#">Angelika Schaefer</a></span></h5>
                                        <p>2 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity__item mb-3">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/03.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Thorsten Schwab </a><span>became Friend with <a href="#">David Kirsch</a></span></h5>
                                        <p>2 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity__item mb-3">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/04.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Leah Friedman </a><span>became Friend with <a href="#">Manuela Lehrer</a></span></h5>
                                        <p>2 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity__item mb-3">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/05.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Maximilian </a><span>became Friend with <a href="#">Franziska Pfeiffer</a></span></h5>
                                        <p>2 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity__item">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/06.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Michelle Foerster </a><span>became Friend with <a href="#">Ines Dresdner</a></span></h5>
                                        <p>2 days ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Groups" role="tabpanel" aria-labelledby="Groups-tab">
                            <div class="activity__item mb-3">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/01.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Daniel Becker </a><span>joined the group</span></h5>
                                        <p>28 days ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="activity__item mb-3">
                                <div class="activity__inner bg-white">
                                    <div class="activity__thumb">
                                        <a href="member-single.html"><img src="assets/images/member/home2/02.jpg" alt="dating thumb"></a>
                                    </div>
                                    <div class="activity__content">
                                        <h5><a href="member-single.html">Simone Wulf </a><span>joined the group</span></h5>
                                        <p>12 days ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>