<div class="tab-pane fade" id="gt2" role="tabpanel" aria-labelledby="gt2-tab">
	<div class="info">
		<div id="app_UserInfo">
			<div class="info-card mb-4">
				@* 基本資料 *@
				<div class="info-card-title">
					<h6>基本資料</h6>
				</div>
				<div class="info-card-content">
					<ul class="info-list">
						<li>							
							<p class="info-name">大頭貼</p>
							<img src="https://localhost:7152/api/UserInfo/GetPicture/2" />
						</li>
						<li>
							<p class="info-name">姓名</p>
							<p class="info-details">{{ material.name }}</p>
						</li>
						<li>
							<p class="info-name">性別</p>
							<p class="info-details">{{ material.gender }}</p>
						</li>
						<li>
							<p class="info-name">生日</p>
							<p class="info-details">{{ material.birthDay }}</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="info-card mb-4">
				@* 自我介紹 *@
				<div class="info-card-title">
					<h6>了解更多:</h6>
				</div>
				<div class="info-card-content">
					<span>{{ material.introduction }}</span>
				</div>
			</div>

			<div class="info-card mb-4">				
				<div class="info-card-title">
					<h6>私人資料</h6>
				</div>
				<div class="info-card-content">
					<ul class="info-list">
						<li>
							<p class="info-name">電話</p>
							<p class="info-details">{{ material.phoneNumber }}</p>
						</li>
						<li>
							<p class="info-name">所在地</p>
							<p class="info-details">{{ material.address }}</p>
						</li>
						<li>
							<p class="info-name">密碼</p>
							<p class="info-details">{{ material.password }}</p>
						</li>
					</ul>
				</div>

			</div>

			<button type="button" class="default-btn" v-on:click="showModel">編輯個人資料</button>  @* 編輯基本資料.自我介紹.找朋友的按鈕 *@


			<div class="modal fade" id="saveModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" @* 編輯個人資料表單 *@
				 role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalTitleId">編輯個人資料</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<label form-label>姓名:</label>
							<div style="border-style:groove"><input v-model="material.name" placeholder="請輸入姓名" /></div>
							<label form-label>性別:</label>
							<div style="border-style:groove"><input v-model="material.gender" placeholder="請輸入性別" /></div>
							<label form-label>生日:</label>
							<div style="border-style:groove"><input v-model="material.birthDay" placeholder="請輸入生日" /></div>
							<label form-label>居住地:</label>
							<div style="border-style:groove"><input v-model="material.address" placeholder="請輸入居住地" /></div>							
							<label form-label>電話:</label>
							<div style="border-style:groove"><input v-model="material.phoneNumber" placeholder="請輸入您的電話號碼" /></div>
							<label form-label>密碼:</label>
							<div style="border-style:groove"><input v-model="material.password" placeholder="請輸入您的新密碼" /></div>
							<label form-label>自我介紹:</label>
							<textarea v-model="material.introduction" placeholder="請開始介紹自己"></textarea>
							<div class="form-group">
								<label>大頭貼</label>
								<input type="file" class="form-control"  @@change="isImage" accept="image/*">
								<div class="text-danger">{{ profilePictureError }}</div>
								<img :src="imagePreview" class="imgPreview img-thumbnail" />
							</div>
						</div>
						<div class="modal-footer">
							<button id="btnInsert" type="button" class="btn btn-primary" @@click="saveData">確定</button>
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal" @@click="cancelChange">取消</button>
						</div>
					</div>
				</div>
			</div>

		</div>

		<template>
			<div id="app_MemberLable">
				<div v-for="label in availableLabels" :key="label.id">
					<input type="checkbox" :value="label.id" v-model="selectedLabels" />
					{{ label.name }}
				</div>
				<button @@click="submitLabels">提交選擇</button>
			</div>
		</template>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	const baseAddress = 'https://localhost:7152';
	var app_UserInfo = Vue.createApp({
		data() {
			return {
				material: {
					"name": "您的姓名",
					"gender": '',
					"birthDay": "",
					"address": "您的居住地",
					"introduction": "我愛大家",
					"phoneNumber": "您的電話號碼",
					"password": null,
					"id": 2,					
				},
				profilePictureError: '',
				profilePicture: null,
				profilePictureUri: "",
				imagePreview:"", /* 新增圖片預覽URL */

				originalMaterial: {}, //保存一份原始資料
			}
		},
		methods: {
			showModel(){									/* 顯示修改的表單 */
				this.originalMaterial = JSON.parse(JSON.stringify(this.material)); /* 創建拷貝數據 */
				$("#saveModal").modal("show");
			},
			isImage(even) {
				let file = even.target.files[0];
				if (!file) {
					this.imagePreview = '';
					this.profilePictureError = '';
				} else if (file.type.startsWith("image/")) {
					this.imagePreview = URL.createObjectURL(file);
					this.profilePictureError = '';
					const reader = new FileReader();
					reader.onload = (e) => {
						this.profilePicture = e.target.result;
					};
					reader.readAsArrayBuffer(file);
				} else {
					this.profilePictureError = '請傳入圖片檔'
				}
			},
			saveData(){										/* 保存按鈕的函式 */
				// alert("可以保存了")
				let formData = new FormData();
				formData.append('Id', this.material.id);
				formData.append('Name', this.material.name);
				formData.append('Address', this.material.address);
				formData.append('PhoneNumber', this.material.phoneNumber);
				formData.append('Gender', this.material.gender);
				formData.append('BirthDay', this.material.birthDay);
				formData.append('Introduction', this.material.introduction);
				formData.append('Password', this.material.password);
				let blob;
				if (this.profilePicture) {const blob = new Blob([this.profilePicture], { type: "image/*" });}
				formData.append("ProfilePicture", blob);
				axios.post(`${baseAddress}/api/UserInfo/SaveData`, formData)
					.then(response => { console.log(response.data); alert("已儲存"); })
					.catch(error => { console.error(error); alert("儲存錯誤"); }
					);
			},
			fetchData(){									/* 呼叫資料 */
				axios.get(`${baseAddress}/api/UserInfo/GetUserinfos/2`)
					.then(response => { this.material = response.data; })
					.catch(err => { alert(err); });
			},
			cancelChange(){							/* 取消按鈕要顯示原本的內容 */
				this.material = JSON.parse(JSON.stringify(this.originalMaterial));
				$("#saveModal").modal("hide");
			},
			
		},
		mounted(){
			this.fetchData();
		},
	}).mount("#app_UserInfo");
	var app_MemberLable = Vue.createApp({
		data() {
			return {
				userId: 1,
				availableLabels: [], /* 從後端獲取所有可用標籤 */
				selectedLabels: [], /* 用戶選擇的標籤ID */
			}
		},
		methods: {
			fetchAvailableLabels() {
				axios.get(`${baseAddress}/api/LabelsApi/GetLabels`)
					.then(response => { this.availableLabels = response.data; })
					.catch(error => { console.error(error); });
			},
			submitLabels(){
				const memberLabelDto = {
					UserId: this.userId,
					LabelIds: this.selectedLabels
				};
				axios.post(`${baseAddress}api/MemberLabelsApi/PostMemberLabel`, memberLabelDto)
					.then(response => { console.log("標籤選取成功:", response); })
					.catch(error => { console.error(error); });
			},
		},
		mounted() {
			this.fetchAvailableLabels();
		},
	}).mount("#app_MemberLable");
</script>