<div class="tab-pane fade" id="gt2" role="tabpanel" aria-labelledby="gt2-tab">
    <div class="info">
        <div class="info-card">
            <div class="info-card-title">
                <h6>大頭貼預計放這</h6>
            </div>
            <div class="info-card-content">
                <img style="width:400px;height:400px;" />

            </div>
        </div>
        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>基本資料</h6>
            </div>
            <div class="info-card-content">
                <ul class="info-list">
                    <li>
                        <p class="info-name">暱稱:</p>
                        <p class="info-details">William Smith</p>
                    </li>
                    <li>
                        <p class="info-name">性別:</p>
                        <p class="info-details">Woman</p>
                    </li>
                    <li>
                        <p class="info-name">正在找尋:</p>
                        <p class="info-details">Men</p>
                    </li>
                    <li>
                        <p class="info-name">婚姻狀況:</p>
                        <p class="info-details">Single</p>
                    </li>
                    <li>
                        <p class="info-name">年齡:</p>
                        <p class="info-details">36</p>
                    </li>
                    <li>
                        <p class="info-name">生日:</p>
                        <p class="info-details">27-02-1996</p>
                    </li>
                    <li>
                        <p class="info-name">所在地:</p>
                        <p class="info-details">
                            Streop Rd, Peosur, Inphodux,
                            USA.
                        </p>
                    </li>
                </ul>

            </div>
        </div>
        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>了解更多:</h6>
            </div>
            <div class="info-card-content">
                <p>做一頁就快讓我爆掉了 我愛大家</p>
            </div>
        </div>

        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>理想中的對象/朋友</h6>
            </div>
            <div class="info-card-content">
                <ul class="info-list">
                    <li>
                        <p class="info-name">希望你是..:</p>
                        <p class="info-details">I want a funny person</p>
                    </li>
                    <li>
                        <p class="info-name">興趣:</p>
                        <p class="info-details">I like to travel a lot</p>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>