<div class="tab-pane fade" id="gt2" role="tabpanel" aria-labelledby="gt2-tab">
    <div class="info">
        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>Base Info</h6>
            </div>
            <div class="info-card-content">
                <ul class="info-list">
                    <li>
                        <p class="info-name">Name</p>
                        <p class="info-details">William Smith</p>
                    </li>
                    <li>
                        <p class="info-name">I'm a</p>
                        <p class="info-details">Woman</p>
                    </li>
                    <li>
                        <p class="info-name">Loking for a</p>
                        <p class="info-details">Men</p>
                    </li>
                    <li>
                        <p class="info-name">Marital Status</p>
                        <p class="info-details">Single</p>
                    </li>
                    <li>
                        <p class="info-name">Age</p>
                        <p class="info-details">36</p>
                    </li>
                    <li>
                        <p class="info-name">Date of Birth</p>
                        <p class="info-details">27-02-1996</p>
                    </li>
                    <li>
                        <p class="info-name">Address</p>
                        <p class="info-details">
                            Streop Rd, Peosur, Inphodux,
                            USA.
                        </p>
                    </li>
                </ul>

            </div>
        </div>
        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>Myself Summary</h6>
            </div>
            <div class="info-card-content">
                <p>Collaboratively innovate compelling mindshare after prospective partnership Competently sereiz long-term high-impact internal or "organic" sources vias user friendly strategic themesr areas creat Dramatically coordinate premium partnerships rather than standards compliant technologies ernd Dramaticaly matrix ethical collaboration and idea-sharing through opensour methodolog and Intrinsicly grow collaborative platforms vis-a-vis effective scenarios. The energistically strategize cost effective ideas before the worke unde.</p>
            </div>
        </div>

        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>Looking For</h6>
            </div>
            <div class="info-card-content">
                <ul class="info-list">
                    <li>
                        <p class="info-name">I'm looking for</p>
                        <p class="info-details">I want a funny person</p>
                    </li>
                    <li>
                        <p class="info-name">Whatever I like</p>
                        <p class="info-details">I like to travel a lot</p>
                    </li>
                </ul>

            </div>
        </div>

        <div class="info-card mb-4">
            <div class="info-card-title">
                <h6>Lifestyle</h6>
            </div>
            <div class="info-card-content">
                <ul class="info-list">
                    <li>
                        <p class="info-name">Interest</p>
                        <p class="info-details">Dogs,Cats</p>
                    </li>
                    <li>
                        <p class="info-name">Favorite vocations</p>
                        <p class="info-details">Maldives, Bangladesh</p>
                    </li>
                    <li>
                        <p class="info-name">Looking for</p>
                        <p class="info-details">Serious Relationshiop,Affair</p>
                    </li>
                    <li>
                        <p class="info-name">Smoking</p>
                        <p class="info-details">Casual Smoker</p>
                    </li>
                    <li>
                        <p class="info-name">Language</p>
                        <p class="info-details">English, French, Italian</p>
                    </li>
                </ul>

            </div>
        </div>

        <div class="info-card">
            <div class="info-card-title">
                <h6>Physical info</h6>
            </div>
            <div class="info-card-content">
                <ul class="info-list">
                    <li>
                        <p class="info-name">Height</p>
                        <p class="info-details">5'8 ft</p>
                    </li>
                    <li>
                        <p class="info-name">Weight</p>
                        <p class="info-details">72 kg</p>
                    </li>
                    <li>
                        <p class="info-name">Hair Color</p>
                        <p class="info-details">Black</p>
                    </li>
                    <li>
                        <p class="info-name">Eye Color</p>
                        <p class="info-details">Brown</p>
                    </li>
                    <li>
                        <p class="info-name">Body Type</p>
                        <p class="info-details">Tall</p>
                    </li>
                    <li>
                        <p class="info-name">Ethnicity</p>
                        <p class="info-details">Middle Eastern</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<script>

</script>