<link href="~/assets/css/profile_wholikes.css" rel="stylesheet" />

<div class="tab-pane fade" id="gt5" role="tabpanel" aria-labelledby="gt5-tab">
<div id="whoLikesApp">
        <div class="group__bottom--area">
            <!-- <div class="group__bottom--head">
                <div class="left">
                    <form action="#">
                        <input type="text" name="search" placeholder="search">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <hr>
                <div class="right">
                    Order By:
                    <div class="banner__inputlist">
                        <select v-model="orderBy">
                            <option value="newest">Newest</option>
                            <option value="popular">Popular</option>
                            <option value="old">Old</option>
                            <option value="recent">Recent</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <div class="group__bottom--body">
                <div class="member">
                    <div class="row g-3 row-cols-lg-3 row-cols-sm-2 row-cols-1" id="memberContainer">
                        <div class="col" v-for="member in members" :key="member.id">
                            <div class="member__item w-100">
                                <div class="member__inner m-0">
                                    <div class="member__thumb">
                                        <a :href="`/Profile/Index?userId=${member.id}`">
                                        <img :src="member.profilePicture" alt="member-img" class="wholikes_fixed-size-img">
                                        </a>
                                        @* <span class="member__activity">Online</span> *@
                                    </div>
                                    <div class="member__content">
                                        <a :href="`/Profile/Index?userId=${member.id}`"><h6>{{ member.name }}</h6></a>
                                        <p>{{ member.age }} Years old <i :class="['fa-solid', member.gender === 'male' ? 'fa-mars' : 'fa-venus']"></i></p>
                                        <button class="default-btn" @@click.prevent="setLikeUser(member)">
                                            <i class="fa-solid fa-check"></i> LIKE
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    @* <a href="#" class="default-btn" @@click.prevent="loadMore"><span><i class="fa-solid fa-spinner"></i> Load More</span></a> *@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const whoLikesApp = Vue.createApp({
        data() {
            return {
                loginUserId : @ViewBag.UserId,
                members: [],
                orderBy: 'newest'
            };
        },
        methods: {
            getMembers() {
                axios.get('/api/Profile/GetWhoLikeList')
                    .then(response => {
                        this.members = response.data.map(member => {
                            return {
                                id: member.id,
                                name: member.name,
                                age: member.age,
                                gender: member.gender,
                                profilePicture: member.profilePicture
                            };
                        });
                    })
                    .catch(error => {
                        console.log("Error getMembers:", error)
                    });
            },
            setLikeUser(member) {
                axios.post(`/api/Profile/setLikeUser?loginUserId=${this.loginUserId}&likeUserId=${member.id}`)
                 .then(response => {
                    console.log(response.data)
                    this.getMembers()
                 })
                .catch(error => {
                    console.log("Error setLikeUser:", error)
                })

            }

        },
        mounted() {
            this.getMembers();
        }
    }).mount("#whoLikesApp");
</script>
