<div class="tab-pane fade" id="gt5" role="tabpanel" aria-labelledby="gt5-tab">
    <div class="group__bottom--area">
        <div class="group__bottom--head">
            <div class="left">
                <form action="#">
                    <input type="text" name="search" placeholder="search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <hr>

            <div class="right">
                Orader By:
                <div class="banner__inputlist">
                    <select>
                        <option selected="">Newest</option>
                        <option value="">Popular</option>
                        <option value="">Old</option>
                        <option value="">Recent</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="group__bottom--body">
            <div class="member">
                <div class="row g-3 row-cols-lg-3 row-cols-sm-2 row-cols-1" id="memberContainer">
                    <div class="col">
                        <div class="member__item w-100">
                            <div class="member__inner m-0">
                                <div class="member__thumb">
                                    <img src="assets/images/member/profile/profile.jpg" alt="member-img">
                                    <span class="member__activity">Online</span>
                                </div>
                                <div class="member__content">
                                    <a href="member-single.html"><h6>Michele Storm</h6></a>
                                    <p>32 Years old <i class="fa-solid fa-mars"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="member__item w-100">
                            <div class="member__inner m-0">
                                <div class="member__thumb">
                                    <img src="assets/images/member/male/02.jpg" alt="member-img">
                                    <span class="member__activity">Online</span>
                                </div>
                                <div class="member__content">
                                    <a href="member-single.html"><h6>Hanna Marcovick</h6></a>
                                    <p>32 Years old <i class="fa-solid fa-venus"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="#" class="default-btn"><span><i class="fa-solid fa-spinner"></i> Load More</span></a>
            </div>
        </div>
    </div>
</div>

<script>
    // $("#gt5-tab").on('click', function () {
    //     alert("gt5-tab wholikes");
    // })
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('gt5-tab').addEventListener('click', function () {
            axios.get('https://localhost:7152/api/Profile/GetWhoLikeList')
                .then(function (response) {
                    var data = response.data;
                    var memberContainer = document.getElementById('memberContainer');
                    memberContainer.innerHTML = ''; // 清空Container

                    data.forEach(function (member) {
                        var div_col = document.createElement("div");
                        div_col.className = "col";

                        var div_member__item = document.createElement("div");
                        div_member__item.className = "member__item w-100";

                        var div_member__inner = document.createElement("div");
                        div_member__inner.className = "member__inner m-0";

                        var div_member__thumb = document.createElement("div");
                        div_member__thumb.className = "member__thumb";

                        var img = document.createElement("img");
                        img.src = member.profilePicture;
                        img.alt = "member-img";
                        div_member__thumb.appendChild(img);

                        var div_member__content = document.createElement("div");
                        div_member__content.className = "member__content";

                        var a = document.createElement("a");
                        a.href = "member-single.html";

                        var h6 = document.createElement("h6");
                        h6.textContent = member.name;
                        a.appendChild(h6);
                        div_member__content.appendChild(a);

                        var p = document.createElement("p");
                        p.textContent = `${member.age} Years old `;
                        var i = document.createElement("i");
                        i.className = `fa-solid fa-${member.gender === 'male' ? 'mars' : 'venus'}`;
                        p.appendChild(i);

                        div_member__content.appendChild(p);
                        div_member__inner.appendChild(div_member__thumb);
                        div_member__inner.appendChild(div_member__content);
                        div_member__item.appendChild(div_member__inner);
                        div_col.appendChild(div_member__item);

                        memberContainer.appendChild(div_col);
                    });
                })
                .catch(function (err) {
                    alert(err);
                });
        });
    });
</script>
