@section Styles
{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<style>
		.card-text {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 3;
		}
	</style>
	
}	

<div id="activityApp">
	<!-- ================> Page Header section start here <================== -->
	<div class="pageheader bg_img" style="background-image: url(/assets/images/bg-img/pageheader.jpg);">
		<div class="container">
			<div class="pageheader__content text-center">
				<h2>All Activities</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Activity</a></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<!-- ================> Member section start here <================== -->
	<div class="row">
		<div class="member story story--style2 padding-top padding-bottom overflow-hidden col-lg-9" style="border-right: 2px solid grey; padding-top: 20px; margin-top: 20px;">
			<div class="overflow-hidden">
				<a type="button" class="default-btn float-end" style="background-color:#f24570; color:white; margin-right: 20px;" asp-controller="Activity" asp-action="Create"><b>主辦活動 <i class="fa-solid fa-plus"></i></b></a>
			</div>
			<div class="container" style="/* outline: 2px solid blue; */">
				<div class="section__wrapper">
					<div class="member__info mb-4">
						<div class="member__info--left">
							<div class="member__info--filter">
								<div class="default-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>篩選 <i class="fa-solid fa-sliders"></i></span></div>
							</div>
							<div class="member__info--count">
								<div class="default-btn"><span>All Upcoming Activities</span></div>
								<p>{{filteredActivities.length}}</p>
							</div>
						</div>
						@* <div class="member__info--right">
							<div class="member__info--customselect right w-100">
								<div class="default-btn"><span>Order By:</span></div>
								<div class="banner__inputlist">
									<select v-model="sortOrder" @@change="sortActivities">
										<option value="mostRecent">Most Recent</option>
										<option value="leastRecent">Least Recent</option>
									</select>
								</div>
							</div>
						</div> *@
					</div>
					<div class="row g-4 justify-content-left row-cols-lg-3 row-cols-sm-2 row-cols-1">
						<div class="col" v-for="activity in filteredActivities.slice(pageStart,pageEnd)" :id="activity.id">
							<div class="story__item style2 story--theme-color">
								<div class="story__inner">
									<div class="story__thumb position-relative">
										<a :href="`/Activity/Detail/${activity.id}`"><img :src=`${baseAddress}/api/ActivityApi/GetPicture/${activity.id}` alt="dating thumb" style="height:160px;width:280px"></a>
										<span class="member__activity member__activity--ofline">{{activity.pastDay}} days ago</span>
									</div>
									<div class="story__content px-0 pb-0">
										<a :href="`/Activity/Detail/${activity.id}`"><h4>{{activity.title}}</h4></a>
										<p class="card-text">{{activity.content}}</p>
										<div class="story__content--author justify-content-between border-top pt-3">
											<div class="story__content--content">
												<p><i class="fa-solid fa-earth-africa"></i> Public Group</p>
											</div>
											<ul class="img-stack">
												<li v-for="participant in limitedParticipants(activity.participants)">
													<a :href="`/Profile/${participant.id}`">
														<img :src="participant.profilePicture" alt="member-img" style="height:30px; width:30px;">
														<div class="time-tooltip">
															<div class="time-tooltip-holder">
																<span class="tooltip-info">{{participant.name}}</span>
															</div>
														</div>
													</a>
												</li>

												<li v-if="remainingParticipants(activity.participants) > 0" class="bg-theme">
													<a>
														{{ remainingParticipants(activity.participants) }}+
														<div class="time-tooltip">
															<div class="time-tooltip-holder">
																<span class="tooltip-info">More</span>
															</div>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="member__pagination mt-4">
						<div class="member__pagination--left">
							<p>Viewing {{pageStart + 1}} - {{pageEnd}} of {{filteredActivities.length}} Activities</p>
						</div>
						<div class="member__pagination--right">
							<ul class="default-pagination">
								<li>
									<a href="#" @@click.prevent="setPage(currentPage-1)"><i class="fas fa-chevron-left"></i></a>
								</li>
								<li>
									<a href="#" v-for="(n, index) in totalPage" :key="index" @@click.prevent="setPage(n)" :class="{'active': (currentPage === (n))}">{{n}}</a>
								</li>
								<li>
									<a href="#" @@click.prevent="setPage(currentPage+1)"><i class="fas fa-chevron-right"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 p-4">
			<h3>歷史活動</h3>
			<div class="row g-4 row-cols-lg-1 row-cols-sm-2 row-cols-1">
				<div class="col" v-for="activity in pastActivities" :id="activity.id">
					<div class="story__item style2 story--theme-color">
						<div class="story__inner">
							<div class="story__thumb position-relative">
								<a :href="`/Activity/Detail/${activity.id}`"><img :src=`${baseAddress}/api/ActivityApi/GetPicture/${activity.id}` alt="dating thumb" style="height:160px;width:280px"></a>
								<span class="member__activity member__activity--ofline">{{activity.pastDay}} days ago</span>
							</div>
							<div class="story__content px-0 pb-0">
								<a :href="`/Activity/Detail/${activity.id}`"><h4>{{activity.title}}</h4></a>
								<p class="card-text">{{activity.content}}</p>
								<div class="story__content--author justify-content-between border-top pt-3">
									<div class="story__content--content">
										<p><i class="fa-solid fa-earth-africa"></i> Public Group</p>
									</div>
									<ul class="img-stack">
										<li v-for="participant in limitedParticipants(activity.participants)">
											<a href="#">
												<img :src="participant.profilePicture" alt="member-img" style="height:30px; width:30px;">
												<div class="time-tooltip">
													<div class="time-tooltip-holder">
														<span class="tooltip-info">{{participant.name}}</span>
													</div>
												</div>
											</a>
										</li>

										<li v-if="remainingParticipants(activity.participants) > 0" class="bg-theme">
											<a href="#">
												{{ remainingParticipants(activity.participants) }}+
												<div class="time-tooltip">
													<div class="time-tooltip-holder">
														<span class="tooltip-info">More</span>
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ================> Member section end here <================== -->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">篩選</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
						<div class="banner__list">
							<div class="row align-items-center row-cols-1">
								<div class="col">
									<label>活動種類</label>
									<div class="banner__inputlist">
										<select v-model="search.type">
											<option value="">請選擇...</option>
											<option v-for="activityType in activityTypes" :key="activityType.id" :value="activityType.typeName">{{activityType.typeName}}</option>
											
										</select>
									</div>
								</div>
								<div class="col">
									<label>排序依據</label>
									<div class="banner__inputlist">
										<select v-model="search.sortOrder">
											<option value="">請選擇...</option>
											<option value="mostRecent">Most Recent</option>
											<option value="leastRecent">Least Recent</option>
										</select>
									</div>
								</div>
								<div class="col">
									<label>依預算排序</label>
									<div class="banner__inputlist">
										<select v-model="search.sortAmount">
											<option value="">請選擇...</option>
											<option value="amountAsc">從小到大</option>
											<option value="amountDesc">從大到小</option>
										</select>
									</div>
								</div>
								<div class="col">
								<button type="submit" class="default-btn reverse d-block" v-on:click="applyFilters"><span>Find Your Partner</span></button>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal -->
</div>

@section Scripts
{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity = "sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin ="anonymous" referrerpolicy="no-referrer" asp-append-version="true">
	</script>

	<script>
		// 在页面加载时检查是否有成功消息，并显示 SweetAlert 弹窗
		document.addEventListener("DOMContentLoaded", function () {
			var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
			if (successMessage) {
				Swal.fire({
					icon: 'success',
					title: '成功！',
					text: successMessage
				});
			}
		});

		const activityApp = Vue.createApp({
			data() {
				return {
					baseAddress: "https://localhost:7152",
					activities:[],
					perpage: 6,
					currentPage: 1,					
					activityTypes:[],
					search: {
						sortOrder: '',
						sortAmount: '',
						type:'',
					},
					filteredActivities:[],
				}
			},
			computed: {
				totalPage() {
					return Math.ceil(this.filteredActivities.length / this.perpage)
					//Math.ceil()取最小整數
				},
				pageStart() {
					return (this.currentPage - 1) * this.perpage
					//取得該頁第一個值的index
				},
				pageEnd() {
					const remainder = this.filteredActivities.length - this.currentPage * this.perpage
					return remainder > 0 ? this.currentPage * this.perpage : this.filteredActivities.length;
					//取得該頁最後一個值的index
				},
				// sortActivityTime() {
				// 	let _this = this.upcomingActivities;

				// 	if (this.search.sortOrder != "") {
				// 		return this.upcomingActivities.sort((a, b) => {
				// 			if (this.search.sortOrder === 'leastRecent') {
				// 				return new Date(b.activityTime) - new Date(a.activityTime);
				// 			}
				// 			else {
				// 				return new Date(a.activityTime) - new Date(b.activityTime);
				// 			}
				// 		});
				// 	}
				// 	return _this;
				// },
				// filterType() {
				// 	let _this = this.sortActivityTime;
				// 	if (this.search.type != '') {
				// 		return this.sortActivityTime.filter(a => a.activityTypeName == this.search.type);
				// 	}
				// 	return _this;
				// },
				// sortAmout() { 
				// 	let _this = this.filterType;
				// 	if (this.search.sortAmount != '') {
				// 		return this.filterType.sort((a, b) => {
				// 			if (this.search.sortAmount === 'amountAsc') {
				// 				return a.amount - b.amount
				// 			}
				// 			else {
				// 				return b.amount - a.amount;
				// 			}
				// 		});
				// 	}
				// 	return _this;
				// },
				pastActivities() 
				{
					const now = new Date();
					return this.activities.filter(activity => {
						return new Date(activity.activityTime) <= now;
					});
				},
				upcomingActivities() 
				{
					const now = new Date();
					return this.activities.filter(activity => {
						return new Date(activity.activityTime) > now;
					});
				},
			},
			methods: {
				getActivities()
				{
					axios.get(`${this.baseAddress}/api/ActivityApi`)
						//JSON.stringify(response.data)就可以用眼睛看到結果確認正確
						.then(response => { 
							this.activities = response.data;
							this.processProfilePictures();
						})
						.then(() => { 
							this.applyFilters();
						})
						.catch(err => alert(err));
				},
				//將資料庫圖片路徑字串處理
				processProfilePictures() {
					this.activities.forEach(activity => {
						activity.participants.forEach(participant => {
							if (participant.profilePicture) {
								participant.profilePicture = participant.profilePicture.replace(/\\/g, '/');
								const index = participant.profilePicture.lastIndexOf("images/");
								if (index !== -1) {
									participant.profilePicture = participant.profilePicture.substring(index);
									//alert(participant.profilePicture);
								}
							}
						});
					});
				},
				limitedParticipants(participants) {
					return participants.slice(0, 5);
				},
				remainingParticipants(participants) {
					return participants.length > 5 ? participants.length - 5 : 0;
				},
				setPage(page) {
					if (page <= 0 || page > this.totalPage) {
						return
					}
					this.currentPage = page
				},
				getActivityTypes() {
					axios.get(`${this.baseAddress}/api/ActivityApi/GetActivityType`)
						//JSON.stringify(response.data)就可以用眼睛看到結果確認正確
						.then(response => {
							this.activityTypes = response.data;
						})
						.catch(err => alert(err));
				},
				applyFilters() {
					let activities = this.upcomingActivities;
					// 按活动时间排序
					if (this.search.sortOrder != '') {
						activities = activities.sort((a, b) => {
							if (this.search.sortOrder === 'leastRecent') {
								return new Date(b.activityTime) - new Date(a.activityTime);
							} else {
								return new Date(a.activityTime) - new Date(b.activityTime);
							}
						});
					}

					// 按活动类型筛选
					if (this.search.type != '') {
						activities = activities.filter(a => a.activityTypeName === this.search.type);
					}

					// 按预算排序
					if (this.search.sortAmount != '') {
						activities = activities.sort((a, b) => {
							if (this.search.sortAmount === 'amountAsc') {
								return a.amount - b.amount;
							} else {
								return b.amount - a.amount;
							}
						});
					}

					this.filteredActivities = activities;
				},
			},
			watch: {
			},
			mounted() {
				let _this = this;
				_this.getActivityTypes();
				_this.getActivities();
			},
		}).mount("#activityApp");
	</script>	
}
