<div class="my-4">
    <h3>已更改密碼，請重新登入</h3>
    <h4 >幾秒後會回到登入頁面，如沒有，請<a asp-controller="Login" asp-action="index" class="btn btn-secondary">點擊</a>這裡</h4>
</div>

@section Scripts{
    <script>
        setTimeout(() => {
            window.location.href = '/Login/Index';
        }, 5000)
    </script>
}