<div id="changePassword" class="bg-attachment">
    <div class="my-4 ms-3" style="width:40%">
        <label class="form-label">新密碼</label>
        <input type="password" class="form-control" v-model.trim.lazy="password" />
        <div class="text-danger">{{passwordError}}</div>
        <label class="form-label">確認密碼</label>
        <input type="password" class="form-control" v-model.trim.lazy="checkPassword" />
        <div class="text-danger">{{checkPasswordError}}</div>
        <div class="text-danger">{{Error}}</div>
        <button id="send" class="btn btn-primary mt-3" @@click="submit">送出</button>
    </div>
</div>

@section Scripts{
    <script>
        const encryptToken = '???';
        const changePassword = Vue.createApp({
            data() {
                return{
                    password:'',
                    checkPassword:'',
                    passwordError:'',
                    checkPasswordError:'',
                    error:''
                }
            },
            methods: {
                submit() {
                    if (this.isPasswordValid) {
                        fetch('/api/login/ResetPassword',{
                              method: 'Post',
                              headers: {
                                  'Content-Type': 'application/json'
                              },
                              body: JSON.stringify({
                                EncryptToken: encryptToken,
                                Password: this.password
                              })
                        })
                        .then(resp => {
                            if(resp.status == 400){
                                return resp.json();
                            }
                            resp.text();
                        })
                        .then(data => {
                            if (data.status == 400 || data == '"已超過時間限制，請重新重置密碼') {
                                
                            }
                            if()
                        })
                        .catch(err => this.error = '發生錯誤，請聯繫網站管理員')
                    }else{
                        this.error = '請填好資料才能送出';
                    }
                },
            },
            computed: {
                isPasswordValid() {
                    return (
                        this.passwordError == '' && this.checkPasswordError == '' &&
                        this.password != '' && this.checkPassword != '';
                    )
                }
            },
            watch: {
                password(nval) {
                    const passwordRex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{10,20}$/
                    if (nval == '') {
                        this.passwordError = '密碼不可為空';
                    } else if (!passwordRex.test(nval)) {
                        this.passwordError = '密碼必須包含至少一個大寫字母、一個小寫字母和一個數字，且長度在 10 到 20 個字符之間，不能有特殊符號';
                    } else {
                        this.passwordError = '';
                    }
                },
                checkPassword(nval, oval) {
                    if (nval == '') {
                        this.checkPasswordError = '確認密碼不可為空';
                    } else if (nval !== this.password) {
                        this.checkPasswordError = '與密碼不一致';
                    } else {
                        this.checkPasswordError = '';
                    }
                },
            },
            mounted(){
            fetch(`/api/login/CheckToken/${encryptToken}`)
                .then(resp => {
                    if(resp.status == 400) {
                        return resp.text();
                    }
                    return resp.text();
                })
                .then(data => {
                    if (data.status == 400 || data == 'false') {
                        alert('驗證錯誤，請重新重置密碼');
                        window.location.href = @Url.Action("Index", "Login");
                    } else {
                        window.location.href = @Url.Action("ChangePasswordSuccess", "Login");
                    }
                })
            }
        }).mount('#changePassword')
    </script>
}