<h3 class="text-center">重新設定密碼</h3>
<div class="my-4">
    <input id="email" type="email" style="width:50%;" class="form-control my-0 mx-auto" placeholder="請輸入信箱" 
    aria-label="Username" aria-describedby="addon-wrapping">
    <div id="error" class="text-danger text-center"></div>
    <div class="d-flex justify-content-center my-3">
        <button id="check" type="button" class="btn btn-primary my-0">送出</button>
    </div>
</div>

@section Scripts{
    <script>
        $('#check').on('click', () => {
            let email = $('#email').val();
            if (email == '') {
                $('#error').html('請輸入信箱');
            }else{
                fetch(`/api/login/SendPasswordEmail/${email}`)
                .then(resp => resp.text())
                .then(data => {
                    if(data == true){

                    }else{
                        $('#error').html('信箱輸入錯誤');
                    }
                })
                .catch();
            }
        });
    </script>
}
