    <!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->
<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="fa-solid fa-angle-up"></i></a>
<!-- scrollToTop ending here -->
<!-- ================> login section start here <================== -->
<section id="login" class="log-reg">
    <div class="top-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-7">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-5">
                    <a href="index.html" class="backto-home"><i class="fas fa-chevron-left"></i> 回到首頁</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="image image-log"></div>
            <div class="col-lg-7">
                <div class="log-reg-inner">
                    <div class="section-header inloginp">
                        <h2 class="title">歡迎來到HaveFun</h2>
                    </div>
                    <div class="main-content inloginp">
                        <form action="#">
                            <h4 class="text-danger" style="background-color:#FF9494;text-align:center">
                                <p class="my-0" v-for="msg in errorMessage">{{msg}}</p>
                            </h4>
                            <div class="form-group">
                                <label>帳號</label>
                                <input type="email" class="my-form-control" placeholder="請輸入帳號" v-model="account">
                            </div>
                            <div class="form-group">
                                <label>密碼</label>
                                <input type="password" class="my-form-control" placeholder="請輸入密碼" v-model="password">
                            </div>
                            <p class="f-pass"> <a href="#">忘記密碼?</a></p>
                            <div class="text-center">
                                <button type="button" class="default-btn" @@click="login"><span>登入</span></button>
                            </div>
                            <div class="or">
                                <p>或</p>
                            </div>
                            <div class="or-content">
                                <a href="#" class="default-btn reverse"><img src="assets/images/login/google.png" alt="google"> <span>Google登入</span></a>
                                <p class="or-signup"> 沒有帳號? <a asp-controller="Register" asp-action="index">點此註冊</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================> login section end here <================== -->

@section Scripts{
    <script>
        const login = Vue.createApp({
            data() {
                return {
                    account: '',
                    password: '',
                    errorMessage: [],
                }
            },
            computed: {
                checkUser() {
                    this.errorMessage = [];
                    if (this.account == '') {
                        this.errorMessage.push('帳號不可為空');
                    }
                    if (this.password == '') {
                        this.errorMessage.push('密碼不可為空')
                    }
                },
            },
            methods: {
                login(){
                    this.errorMessage = [];
                    this.checkUser;
                    fetch('/api/login/login', {
                        method:'Post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            Account: this.account,
                            Password: this.password
                        })
                    })
                    .then(resp => resp.json())
                    .then(data => {
                        if(data.status == 400){
                            this.errorMessage.push('帳號或密碼錯誤');                          
                        }
                        if (data.success == false || data.success == '') {
                            this.errorMessage.push('帳號或密碼錯誤');
                        } else {
                            console.log(data);
                        }
                    })
                    .catch()     
                },
            },
        }).mount('#login');
    </script>
}