    <!-- preloader start here -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- preloader ending here -->
<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="fa-solid fa-angle-up"></i></a>
<!-- scrollToTop ending here -->
<!-- ================> login section start here <================== -->
<section id="login" class="log-reg">
    <div class="top-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-7">
                    <div class="logo">
                        <a href="#"><img src="~/assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-5">
                    <a href="https://localhost:7152" class="backto-home"><i class="fas fa-chevron-left"></i> 回到首頁</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="image image-log"></div>
            <div class="col-lg-7">
                <div class="log-reg-inner">
                    <div class="section-header inloginp">
                        <h2 class="title">歡迎來到HaveFun</h2>
                    </div>
                    <div class="main-content inloginp">
                        <form action="#">
                            <h4 class="text-danger" style="background-color:#FF9494;text-align:center">
                                <p class="my-0" v-for="msg in errorMessage">{{msg}}</p>
                            </h4>
                            <div class="form-group">
                                <label>帳號</label>
                                <input type="email" class="my-form-control" placeholder="請輸入帳號" v-model="account">
                            </div>
                            <div class="form-group">
                                <label>密碼</label>
                                <input type="password" class="my-form-control" placeholder="請輸入密碼" v-model="password">
                            </div>
                            <p class="f-pass"> <a asp-controller="Login" asp-action="ForgetPassword">忘記密碼?</a></p>
                            <div class="text-center">
                                <button type="button" class="default-btn" @@click="login"><span>登入</span></button>
                            </div>
                            <div class="or">
                                <p>或</p>
                            </div>
                            <div class="or-content">
                                <div class="mx-auto my-0" style="width:300px">
                                    <div id="g_id_onload"
                                         data-client_id="1014279430331-cg3iq3iqipo5alu91j7b27001cu156pq.apps.googleusercontent.com"
                                         data-login_uri="/Register/GoogleRegister"
                                         data-auto_prompt="false">
                                    </div>
                                    <div class="g_id_signin"
                                         data-type="standard"
                                         data-size="large"
                                         data-theme="outline"
                                         data-text="sign_in_with"
                                         data-shape="rectangular"
                                         data-logo_alignment="left"
                                         data-width="300">
                                    </div>
                                </div>
                                <p class="or-signup"> 沒有帳號? <a asp-controller="Register" asp-action="index">點此註冊</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================> login section end here <================== -->

@section Scripts{
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        const login = Vue.createApp({
            data() {
                return {
                    account: '',
                    password: '',
                    errorMessage: [],
                }
            },
            computed: {
                checkUser() {
                    this.errorMessage = [];
                    if (this.account == '') {
                        this.errorMessage.push('帳號不可為空');
                        if (this.password == '') {
                            this.errorMessage.push('密碼不可為空')
                        }
                        return
                    }
                },
            },
            methods: {
                generateUserDTO() {
                    return {
                        Account: this.account,
                        Password: this.password
                    };
                },
                login(){
                    this.errorMessage = [];
                    this.checkUser;
                    let userDTO = this.generateUserDTO();
                    fetch('/api/login/login', {
                        method:'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(userDTO),
                    })
                    .then(resp => resp.json())
                    .then(data => {
                        if(data.status == 400){
                            this.errorMessage.push('帳號或密碼錯誤');                          
                        }
                        if (data.success == false || data.success == '') {
                            this.errorMessage.push('帳號或密碼錯誤');
                        } 
                            if (data.success == true && data.emailLink != '' && data.id != '') {
                                this.sendEmail(data.id);
                                window.location.href = '/Profile/Index';
                            }
                    })
                    .catch()     
                },
                sendEmail(id) {
                    fetch(`/api/Register/SendCheckEmail/${id}`)
                        .then(resp => {
                            if (!resp.ok) {
                                throw '傳送信件失敗，請聯繫管理員';
                            } else {
                                return resp.json();
                            }
                        })
                        .then(result => {
                            if (result.success == true) {

                            } else {
                                throw '傳送信件失敗，請聯繫管理員';
                            }
                        })
                        .catch(err => console.log(err))
                },
            },
        }).mount('#login');
    </script>
}