<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - HaveFun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="~/havefun_ai_icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- All stylesheet and icons css  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/style.css">

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fa-solid fa-angle-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- ================> header section start here <================== -->
    <header class="header" id="navbar">
        <div class="header__bottom">
            <div class="container" id="app_Layout">
                <nav class="navbar navbar-expand-lg">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        @* <img src="assets/images/logo/logo.png" alt="logo"> *@
                        <img src="~/havefun_ai_icon.png" style="width:100px; height:70px" />
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler--icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav mainmenu">
                            <ul>
                                <li>

                                    <a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Match" asp-action="Index">配對</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">糾團</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="ChatRooms" asp-action="Index">好友聊天室</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">個人主頁</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="POST" asp-action="Index">POST</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">好友清單</a>
                                </li>
                                <teplate v-if="isLogin">
                                    <li>
                                        <a >
                                        <img  src="~/assets/images/member/profile/01.jpg" />
                                        </a>
                                    </li>
                                </teplate>
                                <template v-else>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Register" asp-action="Index">註冊</a>


                                    </li>
                                    <li>
                                        <a class="nav-link" href="#">登入</a>
                                    </li>

                                </template>

                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ================> header section end here <================== -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ================> Footer section start here <================== -->
    <footer class="footer overflow-hidden">
        <div class="footer__top bg_img" style="background-image: url(assets/images/footer/bg-3.jpg)">
            <div class="footer__newsletter wow fadeInUp" data-wow-duration="1.5s">
                <div class="container">
                    <div class="row  justify-content-center">
                        <div class="col-12">

                            <div class="footer__newsletter--title me-xl-4">
                                <h4>社群</h4>
                            </div>
                            <div class="footer__newsletter--social">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook-messenger"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer__toparea  wow fadeInUp" data-wow-duration="1.5s">
                <div class="container">
                    <div class="row g-5 g-lg-0">
                        <div class=" col-12 justify-content-center">
                            <div class="footer__item">
                                <div class="footer__inner">
                                    <div class="footer__content">
                                        <div class="footer__content--title">
                                            <h4>我們的資訊</h4>
                                        </div>
                                        <div class="footer__content--desc">
                                            <ul>
                                                <li>
                                                    <p style="color:white;">

                                                        感謝您選擇加入我們的大家庭！在這裡，我們努力營造一個溫暖、包容的社群，讓每一位會員都感受到彼此的支持和理解。我們深信，友誼和愛情是生活中最珍貴的寶藏，而我們的平台正是為了幫助您找到這些珍寶而存在的。

                                                        我們不僅提供了豐富多彩的交友功能，還致力於保護您的隱私和安全。我們採取了一系列的安全措施，確保您的個人信息始終得到保護。此外，我們的客服團隊隨時待命，為您提供及時的幫助和支持。

                                                        如果您有任何問題、建議或意見，請不要猶豫，隨時與我們聯繫。我們非常重視您的反饋，並將竭盡所能以提供更好的服務。讓我們攜手共創一個溫馨、友愛的交友社群，讓每一個人都能在這裡找到屬於自己的快樂時光！

                                                        再次感謝您的加入，願您在我們的平台上度過愉快、充實的時光！
                                                    </p>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer__bottom wow fadeInUp" data-wow-duration="1.5s">
                <div class="container">
                    <div class="footer__content text-center">
                        <h5 style="color:antiquewhite;" class="mb-0">TIM101 C#全端班專題</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================> Footer section end here <================== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <script>
        const app_Layout = Vue.createApp({
            data() {
                return {
                    isLogin: false,
                }
            },
            computed: {
            },
            methods: {
            },
            watch: {
            },
        }).mount("#app_Layout");

       
        $('.navbar-nav>ul>li a ').hover(function () {
            // 移除其他 a 标签的 hover 效果
            $('.navbar-nav>ul>li a ').not(this).css("color", "black");
            // 添加当前悬停的 a 标签的 hover 效果
            $(this).css("color", "red");
        }, function () {
            // 鼠标移开时移除 hover 效果
            $(this).css("color", "black");
        });
    </script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- All Needed JS -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <!-- <script src="assets/js/all.min.js"></script> -->
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>