<div id="ActivityCheckApp">
	<div class="container row  p-5 p text-center border-2 m-auto">
		<h1>檢舉活動貼文管理</h1>
		<hr />
		<div class="col-12">
			<span class="col-12 col-md-2  m-2 ">處理狀態示意顏色: </span>
			<label class=" text-bg-warning  col-12 col-md-2  m-2">申訴中</label>
			<label class="text-bg-secondary col-12 col-md-2  m-2">已封鎖</label>
			<label class="text-bg-success col-12 col-md-2  m-2">無須封鎖</label>
			@* /*review status 0,1,2*/ *@
		</div>
		<hr />
		<div class="table-responsive">
			<table class="table table-secondary ">
				<thead class="table-active">
					<tr>
						<th scope="col">被檢舉活動Id</th>
						<th scope="col">被檢舉人Id</th>
						<th scope="col">被檢舉項目</th>
						<th scope="col">被檢舉理由</th>
						<th scope="col">被檢舉時間</th>
						<th scope="col">處理按鈕</th>

					</tr>
				</thead>
				<tbody>
					<tr v-for="r in reports.slice(tableStart,tableEnd)" class="">
						<td>{{r.activityId}}</td>
						<td>{{r.userId}}</td>
						<td>{{this.ComplaintToString(r.reportItems)}}</td>
						<td>{{r.reportReason}}</td>
						<td class="col-md-0">{{this.TimeSplit(r.reportTime)}}</td>
						<td>
							<button :id="r.postReviewId" class="btn " :class="btnColor(r.processingStstus)"
									@@click="check(r.activityId,r.activityReviewId)">
								{{this.ReviewStatusToString(r.processingStstus)}}
							</button>
						</td>


					</tr>
				</tbody>
			</table>

		</div>

		<div>
			<button class="btn btn-secondary m-3" @@click="UpperFive()">上五筆</button>
			<button class="btn btn-secondary m-3" @@click="LowerFive()">下五筆</button>
		</div>

		<template v-if="reports.length==0"><h1>沒有被檢舉資料</h1> </template>


		<div class="  text-light bg-secondary">
			<label>檢舉項目:</label> <br />
			<label v-for="c in complaint" class="form-label col-12 col-md-2 col-sm-6">{{c.complaintCategoryId}} . {{c.complaintCategoryName}}</label>
		</div>
	</div>


	<div class="modal fade"
		 id="PostModal"
		 tabindex="-1"
		 data-bs-backdrop="static"
		 data-bs-keyboard="false"
		 role="dialog"
		 aria-labelledby="modalTitleId"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered "
			 role="document">
			<div class="modal-content ">
				<div class="modal-header " style="background-color:coral;">
					<span style="width:150px;"></span>
					<h5 class="modal-title " id="modalTitleId">
						檢舉活動貼文
					</h5>
					<button type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close">
					</button>
				</div>
				<div class="modal-body row lh-lg overflow-auto">
					<div>
						<label class="col-3 text-decoration-underline">
							活動標題:
						</label>
						<label class="col-3 text-center lh-base">
							{{Act.title}}
						</label>

						<label class="col-3 text-decoration-underline">
							貼文類別:
						</label>
						<label class="col-3 text-center lh-base">
							{{Act.type}}
						</label>

						<label class="col-3 text-decoration-underline">
							主辦人:
						</label>
						<label class="col-3 text-center lh-base">
							{{Act.userId}}
						</label>

						<label class="col-3 text-decoration-underline">
							參加人數限制:
						</label>
						<label class="col-3 text-center lh-base">
							{{Act.maxParticipants}}
						</label>
						<label class="col-3 text-decoration-underline">
							地點:
						</label>
						<label class="col-3 text-center lh-base">
							{{Act.location}}
						</label>
						<label class="col-3 text-decoration-underline">
							自備金額:
						</label>
						<label class="col-3 text-center lh-base">
							{{Act.amount}}
						</label>

					</div>
					<div>
						<label class="col-6 text-decoration-underline">
							被檢舉貼文內容:
						</label>
						<label class="col-12 text-center lh-base">
							{{Act.content}}
						</label>
						<label class="col-6 text-decoration-underline">
							註記:
						</label>
						<label class="col-12 text-center lh-base">
							{{Act.notes}}
						</label>
					</div>
					<div>
						<label class="col-3 text-decoration-underline">
							發起時間:
						</label>
						<label class="col-9 text-center lh-base">
							{{this.TimeSplit(Act.initiationTime
							)}}
						</label>
						<label class="col-3 text-decoration-underline">
							報名時間:
						</label>
						<label class="col-9 text-center lh-base">
							{{this.TimeSplit(Act.registrationTime)}}
						</label>
						<label class="col-3 text-decoration-underline">
							截止時間:
						</label>
						<label class="col-9 text-center lh-base">
							{{this.TimeSplit(Act.deadlineTime)}}
						</label>
						<label class="col-3 text-decoration-underline">
							開始時間:
						</label>
						<label class="col-9 text-center lh-base">
							{{this.TimeSplit(Act.activityTime)}}
						</label>
					</div>
					<div>
						<label class="col-4 text-decoration-underline">
							被檢舉圖片:
						</label>
						<img class="col-8 img-fluid" :src="ActImgSrc" />

					</div>
					<div>
						<label class="col-6 text-decoration-underline">
							檢舉狀態:
						</label>
						<label class="col-6 text-start">
							{{this.PostStatusToString(Act.status)}}
						</label>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
							@@click="ActivityReviewStateChange(this.ActivityReviewId,2),ActivityStateChange(this.ActivityId,0) "
							class="btn btn-secondary "
							data-bs-dismiss="modal">
						駁回檢舉
					</button>
					<button type="button" @@click="ActivityReviewStateChange(this.ActivityReviewId,1) ,ActivityStateChange(this.ActivityId,2)" class="btn btn-danger">刪除貼文</button>
				</div>
			</div>
		</div>
	</div>
</div>
@* // *@
@section Scripts {

	<script>
		var App = Vue.createApp({
			data() {
				return {
					reports: [],
					Act: {},
					ActivityReviewId: 0,
					ActivityId: 0,
					tableStart: 0,
					tableEnd: 5,
					complaint: [],
					ActImgSrc: "",
					baseAdress: "",			 /*"https://localhost:7152"*/

				}
			},
			methods: {
				GetAll() {

					var data = fetch(`${this.baseAdress}/api/ActivityReview/GetAll`, { method: "GET" })
						.then(response => response.json())
						.then(data =>
							JSON.stringify(data))
						.then(d => {
							App.reports = JSON.parse(d);

						})
						.catch(error => {
							console.error('發生錯誤:', error);
							alert("錯誤");
						});
				}

				,
				check(ActivityId, ActivityReviewId) {
					this.showModal();
					this.GetActivity(ActivityId);
					this.ActivityReviewId = ActivityReviewId;
					this.ActivityId = ActivityId;
					//alert(postReviewId)
				},
				showModal() {
					$("#PostModal").modal("show");
				}
				,
				hideModal() {
					this.Act = {};
					$("#PostModal").modal("hide");

				}
				,
				GetActivity(ActivityId) {


					var data = fetch(`${this.baseAdress}/api/ActivityReview/GetActById?id=${ActivityId}`, { method: "GET" })
						.then(response => response.json())
						.then(data =>
							JSON.stringify(data))
						.then(d => {
							App.Act = JSON.parse(d);
							console.log(App.Act);
						})
						.then(d => {
							if (App.Act.picture != '') {
								this.ActImgSrc = `/api/ActivityApi/GetPicture/${ActivityId} `
							}
							else {

								this.ActImgSrc = "/images/NOimg.jpg";
							}
						}

						)
						.catch(error => {
							console.error('發生錯誤:', error);
							alert("錯誤");
						});



				},

				ActivityReviewStateChange(ReviewId, state) {
					var body = {
						"ActivityReviewId": ReviewId,

						"ProcessingStstus": state
					};
					fetch(
						`${this.baseAdress}/api/ActivityReview/ChangeActivityReviewState?id=${ReviewId}`,
						{
							method: "PUT",
							body: JSON.stringify(body),
							headers: { 'Content-Type': 'application/json' }
						}
					).then(res => res.text())
						.then(data => console.log(data))
						.then(d => App.GetAll())
						.catch(err => alert("err"));
					this.hideModal();


				},
				ActivityStateChange(ActivityId, state) {
					var body = {
						"Id": ActivityId,
						"status": state
					};
					fetch(
						`${this.baseAdress}/api/ActivityReview/ChangeActivityState?id=${ActivityId}`,
						{
							method: "PUT",
							body: JSON.stringify(body),
							headers: { 'Content-Type': 'application/json' }
						}
					).then(res => res.text())
						.then(data => console.log(data))
						.catch(err => alert("err"));



				},
				btnColor(id) {
					if (id == 0) { return "btn-warning"; }
					if (id == 1) { return "btn-secondary "; }
					if (id == 2) { return "btn-success"; }

				},
				UpperFive() {
					if (this.tableStart > 0) {
						this.tableStart -= 5;
						this.tableEnd -= 5;
					}
					else {
						//alert("已經是第一頁")
					}
				},
				LowerFive() {
					if (this.tableEnd < this.reports.length) {
						this.tableStart += 5;
						this.tableEnd += 5;
					}
					else {
						//   alert("已經是最後一頁")
					}
				},
				ReviewStatusToString(s) {
					if (s == 0) { return "申訴中"; }
					else if (s == 1) { return "已封鎖"; }
					else { return "無須封鎖"; }

				},
				PostStatusToString(s) {
					if (s == 0) { return "未下架貼文"; }
					else if (s == 1) { return "貼文待審核"; }
					else { return "已下架貼文"; }
				},
				ComplaintToString(id) {
					if (this.complaint.length != 0)
						return this.complaint[parseInt(id) - 1].complaintCategoryName
					else
						return "null";
				},
				TimeSplit(timeStr) {
					if (timeStr != null) {
						var timeArr = timeStr.split('T').join('-').split('-').join(':').split(":");
						return `${timeArr[0]}年 ${timeArr[1]}月 ${timeArr[2]}日 ${timeArr[3]}時 ${timeArr[4]}分`;
					}
				},
			},
			mounted: async () => {

				var baseAdress = ""; /* https://localhost:7152 */

				var resp = await fetch(
					`${baseAdress}/api/ActivityReview/GetAll`, {
					method: "GET"
				});
				var data = await resp.json();
				App.reports = data;
				//alert(JSON.stringify(data));

				fetch(`${baseAdress}/api/complaint/Getall`, { method: "GET" }).then(r => r.json()).then(d => App.complaint = d);
				//

			},
		}).mount("#ActivityCheckApp");

	</script>
}