<div class="container" id="ChartApp">
	<h2 class="text-center">圖表分析</h2>
	總人數
	男女比
	課金比
	年齡分布


</div>

@section Scripts{


	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
		const ChartApp = Vue.createApp({
			data() {
				return {
					
				}
			},
			computed: {
				}

			},
			methods: {
			},
			watch: {
			},
		}).mount("#ChartApp");
	</script>
}