
@section Styles {
	<style>
        
		.container {
	height:600px;
	}

        .NoReviewFontColor{
        color:yellow;
        }

        .HaveReviewFontColor{
        color:darkblue;
        }
	</style>
} 
<div class="container m-auto" id="BackHomeApp">

<h1 class="text-center">首頁</h1>
@* //card *@
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="card mb-4" :class="CardColor(UserReviewCount),FontColor(UserReviewCount)">
                <div class="card-body">
                    個人資料待審核件數:
                    <br /> 
                    {{this.UserReviewCount}}件
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between ">
                    <a class="small text-white stretched-link" asp-area="ManagementSystem" asp-controller="Home" asp-action="UserManagement">View Details</a>
@*                     <a class="small text-white stretched-link" href="#">View Details</a>*@                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card  mb-4" :class="CardColor(PostReviewCount),FontColor(PostReviewCount)">
                <div class="card-body">
                    個人貼文待審核件數
                    <br /> 
                    {{this.PostReviewCount}}件
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class=" small text-white stretched-link" asp-area="ManagementSystem" asp-controller="Home" asp-action="PostManagement">View Details</a>
                    @* <a class="small text-white stretched-link" href="#">View Details</a> *@
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card  mb-4" :class="CardColor(ActReviewCount),FontColor(ActReviewCount)">
                <div class="card-body">
                    活動貼文待審核 <br />
                    {{this.ActReviewCount}} 件
                    </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-area="ManagementSystem" asp-controller="Home" asp-action="ActivityManagement">Details</a>
                    @* <a class="small text-white stretched-link" href="#">View Details</a> *@
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
          
        </div>
</div>
            @*  //chart *@
<div class="row">
    <div class="col-2"></div>
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header" >
                    <i class="fas fa-chart-area me-1"></i>
                    使用者男女比
                </div>
                <div class="card-body" style="width:300px;height:250px;">
                    <canvas id="GenderChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    付費比
                </div>
                <div class="card-body" style="width:300px;height:250px;">
                    <canvas id="LevelChart"></canvas>
                </div>
            </div>
        </div>
</div>


@section Scripts{
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>


            const HomeApp = Vue.createApp({
                data() {
                    return {
                        UserReviewCount: 0,
                        PostReviewCount: 0,
                        ActReviewCount:0,
                        //tempNum:0,
                        genderArr:[],
                        LevelArr:[],
                    }
                },
                computed: {
                },
                methods: {
                    CardColor(count) {
                        if (count != 0) { return "bg-warning"; }
                        else { return "bg-primary" }
                    },
                    FontColor(count) {
                        if (count == 0) { return "NoReviewFontColor"; }
                        else { return "HaveReviewFontColor" }
                    },

                    DrawGenderChart() {
                        const chartElement = document.getElementById('GenderChart');
                        new Chart(chartElement, {
                            type: 'pie',
                            data: {
                                labels: [
                                    '男生',
                                    '女生',
                                ],
                                datasets: [{
                                    label: '人數',
                                    data: genderArr,
                                }]
                            },
                        });
                    },

                    DrawLevelChart() {
                        const chartElement = document.getElementById('LevelChart');
                        new Chart(chartElement, {
                            type: 'pie',
                            data: {
                                labels: [
                                    '免費',
                                    '付費',
                                ],
                                datasets: [{
                                    label: '人數',
                                    data: LevelArr,
                                }]
                            },
                        });
                    },
                    // GetCount(Address) {
                    //     fetch(Address, { method: "GET" })
                    //         .then(r => r.json())
                    //         .then(d => JSON.stringify(d))
                    //         .then(d => JSON.parse(d))
                    //         .then(d => HomeApp.tempNum = d)
                    //         .catch(err => comnsole.log(err));


                    // }

                },
                mounted() {

                    fetch(`/api/userReview/UserReviewCount`, { method: "GET" })
                        .then(r => r.json())
                        .then(d => JSON.stringify(d))
                        .then(d => JSON.parse(d))
                        .then(d => HomeApp.UserReviewCount = d)
                        .catch(err => console.log(err));

                    fetch(`/api/PostReview/Count`, { method: "GET" })
                        .then(r => r.json())
                        .then(d => JSON.stringify(d))
                        .then(d => JSON.parse(d))
                        .then(d => HomeApp.PostReviewCount = d)
                        .catch(err => console.log(err));

                    fetch(`/api/ActivityReview/Count`, { method: "GET" })
                        .then(r => r.json())
                        .then(d => JSON.stringify(d))
                        .then(d => JSON.parse(d))
                        .then(d => HomeApp.ActReviewCount = d)
                        .catch(err => console.log(err));

                    fetch(`/api/UserInfo/UserCount`, { method: "GET" })
                        .then(r => r.text())
                        .then(d => d.split(","))
                        .then(d => genderArr = d)
                        .then(d => HomeApp.DrawGenderChart())

                    fetch(`/api/UserInfo/LevelCount`, { method: "GET" })
                        .then(r => r.text())
                        .then(d => d.split(","))
                        .then(d => LevelArr = d)
                        .then(d => HomeApp.DrawLevelChart())
                    
                    



                },
            }).mount("#BackHomeApp");
    </script>@* 
        <script src="~/js/chart-area-demo.js" ></script>
    <script src="~/js/chart-bar-demo.js" ></script> *@

}