
@section Styles {
	<style>

		.container {
	height:600px;
	}
	</style>
} 
<div class="container">

<h1>首頁</h1>
@* //card *@
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">個人資料待審核 ??件</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">個人貼文待審核 ??件</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
       
   @*  //chart *@
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    每日使用人數 Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    總使用人數 Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>


</div>
@section Scripts{

        <script src="~/js/chart-area-demo.js" ></script>
    <script src="~/js/chart-bar-demo.js" ></script>

}