<div class="container row">
	<h1 class="col-6">被檢舉人:</h1>
	<label class="col-6">user111</label>
	<h1 class="col-6">被檢舉理由:</h1>
	<label class="col-6">XXXX</label>
	<h1 class="col-6">被檢舉人貼文:</h1>
	<label class="col-6">lorem</label>
	<h1 class="col-6">被檢舉人圖片:</h1>
	<img />




</div>