
<div id="UserManagementApp" class="container row  p-5 pt-5 text-center border-2">
	<div class="col-12">
		<span class="col-2 ">處理狀態示意: </span>
		<label class="text-bg-warning  col-2 m-2">申訴中-0</label>
		<label class="text-bg-success col-2 m-2">無須刪除-1</label>
		<label class="text-bg-secondary col-2 m-2">已刪除-2</label>
	</div>
	<hr />
	<div class="table-responsive">
		<table class="table table-secondary">
			<thead>
				<tr>
					<th scope="col">被檢舉使用者Id</th>
					<th scope="col">檢舉使用者Id</th>
					<th scope="col">檢舉時間</th>
					<th scope="col">檢舉項目Id</th>
					<th scope="col">處理按鈕</th>


				</tr>
			</thead>
			<tbody>
				<tr v-for="r in reviews.slice(tableStart,tableEnd)" class="">
					<td>{{r.beReportedUserId}}</td>
					<td>{{r.reportUserId}}</td>
					<td>{{r.reportTime}}</td>
					<td>{{r.complaintCategoryId}}</td>
					<td>
						<button class="btn btn-warning"  :id="r.id"
								@@click="check(r.beReportedUserId)">處理</button>
						</td>
				</tr>

			</tbody>
		</table>
	</div>
	<div>
		<button class="btn btn-secondary m-3" @@click="UpperFive()">上五筆</button>
		<button class="btn btn-secondary m-3" @@click="LowerFive()">下五筆</button>
	</div>
	<div class="  text-light bg-secondary">
		<label>檢舉項目:</label> <br />
		<label v-for="c in complaint" class="form-label col-12 col-md-2 col-sm-6">{{c.complaintCategoryId}}  {{c.complaintCategoryName}}</label>
	</div>

	<div class="modal fade"
		 id="UserModal"
		 tabindex="-1"
		 data-bs-backdrop="static"
		 data-bs-keyboard="false"
		 role="dialog"
		 aria-labelledby="modalTitleId"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
			 role="document">
			<div class="modal-content">
				<div class="modal-header bg-info">
					<h5 class="modal-title" id="modalTitleId">
						檢舉使用者
					</h5>
					<button type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close">
					</button>
				</div>
				<div class="modal-body row lh-lg">
					<div>
						<label class="col-6 text-decoration-underline">
							被檢舉人名稱:
						</label>
						<label class="col-6 text-start">
							{{userInfos.name}}
						</label>
						<label class="col-6 text-decoration-underline">
							被檢舉人性別:
						</label>
						<label class="col-6 text-start">
							{{userInfos.gender}}
						</label>
						<label class="col-6 text-decoration-underline">
							被檢舉人介紹:
						</label>
						<label class="col-6 text-start">
							{{userInfos.introduction}}
						</label>
					</div>
				
					<div>
						<label class="col-6 text-decoration-underline">
							被檢舉人圖片:
						</label>
						<img class="col-12 img-fluid" :src="" />

					</div>
					<div>
						<label class="col-6 text-decoration-underline">
							檢舉狀態:
						</label>
						<label class="col-6 text-start ">
							{{userInfos.status}}
						</label>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
							@@click=""
							class="btn btn-secondary "
							data-bs-dismiss="modal">
						駁回檢舉
					</button>
					<button type="button" @@click=" " class="btn btn-danger">封鎖使用者</button>
				</div>
			</div>
		</div>
	</div>

</div>

@section Scripts {
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		var App = Vue.createApp({
			data() {
				return {
					reviews: [],
					tableStart:0,
					tableEnd: 5,
					userInfos:[],
					complaint:[],
				};
			},
			methods: {
				gender(type) {
					if (type == 0) { return "男"; }
					else if (type == 1) { return "女"; }
					else { return "不男不女"; }
				}
				,
				check(id) {
					this.showModal();
					this.getUserInfo(id);
				},	
				getUserInfo(userid) {
					axios.get(`https://localhost:7152/api/UserInfo/GetById/${userid}`
		).then(r=>r.data).then(d=>App.userInfos=d );
				},
				showModal() { $("#UserModal").modal("show"); },
				hideModal() { $("#UserModal").modal("hide"); },
				getAllReview() {
					axios.get('https://localhost:7152/api/userReview/GetAll').then(r => r.data).then(r => App.reviews = r);
				},
			
				UpperFive() {
					if (this.tableStart > 0) {
						this.tableStart -= 5;
						this.tableEnd -= 5;
					}
					else {
						alert("已經是第一頁")
					}
				},
				LowerFive() {
					if (this.tableEnd < this.reviews.length) {
						this.tableStart += 5;
						this.tableEnd += 5;
					}
					else {
						alert("已經是最後一頁")
					}
				},
				},
				mounted() {
					this.getAllReview();
				fetch("https://localhost:7152/api/Getall", { method: "GET" }).then(r => r.json()).then(d => App.complaint = d);
				},
			}).mount("#UserManagementApp");
	</script>

}