user ManageMent
<div id="UserManagementApp">

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">被檢舉使用者Id</th>
                <th scope="col">檢舉使用者Id</th>
                <th scope="col">檢舉時間</th>
                <th scope="col">檢舉項目Id</th>
                <th scope="col">處理按鈕</th>


            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td scope="row">R1C1</td>
                <td>R1C2</td>
                <td>R1C3</td>
            </tr>
            <tr class="">
                <td scope="row">Item</td>
                <td>Item</td>
                <td>Item</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

@section Scripts{
<script>
    var App = Vue.CreateApp().mount("#");
</script>

}