body {
}
.attendMember {
    color: #eb1586;
}
.attendMember:hover{
    color: #120d89;
}
.canelAttendBox-overlay, .participantsBox-overlay, .deleteActBox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
.searchBar {
    width: 300px;
    margin: 10px auto;
}
.blog__content {
    line-height: 1.6;
    margin: 10px;
    word-break: break-all;
}
.blog__content > img {
    margin-bottom:10px;
}
summary {
    margin: 5px;
    text-align: center;
}
.infoTitle {
    color: #f24570;
    font-size: 16px;
    margin:0;
}
.actContent {
    white-space: pre-wrap;
}
.blog__item{
    margin: 20px;
}
.empty{
    text-align:center;
    font-style:italic;
}
#cancelAttend{
    display: block;
    margin:0 auto;
}
.canelAttendBox {
    display: none;
    width: 250px;
    height: 300px;
    background-color: white;
    position: sticky;
    left: 40%;
    top: 40%;
    border-radius: 10%;
    box-shadow: 0 3px 10px #888888;
    z-index: 1060;
    align-content: center;
    text-align: center;
}

 .canelAttendBox > button {
    margin: 20px;
 }
.deleteActBox {
    display: none;
    width: 250px;
    height: 300px;
    background-color: white;
    position: sticky;
    left: 40%;
    top: 40%;
    border-radius: 10%;
    box-shadow: 0 3px 10px #888888;
    z-index: 2;
    align-content: center;
    text-align: center;
}
.deleteActBox > button {
    margin: 20px;
}
.imgPreview {
    width: 100%;
}
.editNumber{
    width: 20%;
    display:inline;
    height: 25px
}
textarea{
    width:100%;
    overflow: auto;
    word-break: break-all;
}
.participantsBox {
    display: none;
    width: 350px;
    height: 450px;
    background-color: white;
    position: sticky;
    left: 30%;
    top: 22%;
    border-radius: 30px;
    box-shadow: 0 3px 10px #888888;
    z-index: 2;
    align-content: center;
    text-align: center;
}
.joinMember {
    width: 250px;
    height: 300px;
    overflow: auto;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.memberProfile {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.memberPic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom:15px;
}
.map{
    width:60%;
    height:300px;
    margin:10px;
}

/* ----- 斷點 767 ----- */
@media screen and (max-width: 767px) {
    .actType {
        width: 300px;
    }
}
