body {
}
.blog__content{
    line-height: 1.6;
    margin:10px;
}
summary {
    list-style: none;
    margin: 5px;
    text-align: center;
}
.infoTitle {
    color: #f24570;
    font-size: 16px;
    margin:0;
}
.blog__item{
    margin: 20px;
}
.empty{
    text-align:center;
    font-style:italic;
}
#cancelAttend{
    display: block;
    margin:0 auto;
}
.canelAttendBox {
    display: none;
    width: 250px;
    height: 300px;
    background-color: white;
    position: sticky;
    left: 40%;
    top: 40%;
    border-radius: 10%;
    box-shadow: 0 3px 10px #888888;
    z-index: 2;
    align-content: center;
    text-align: center;
}

 .canelAttendBox > button {
    margin: 20px;
 }
.deleteActBox {
    display: none;
    width: 250px;
    height: 300px;
    background-color: white;
    position: sticky;
    left: 40%;
    top: 40%;
    border-radius: 10%;
    box-shadow: 0 3px 10px #888888;
    z-index: 2;
    align-content: center;
    text-align: center;
}

    .deleteActBox > button {
        margin: 20px;
    }
