<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>@ViewData["Title"] - 後台管理系統</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- site favicon -->
	<link rel="icon" type="image/png" href="~/emoji_smiley_icon.png">
	<!-- Place favicon.ico in the root directory -->
	<!-- All stylesheet and icons css  -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/styles.css" rel="stylesheet" />

	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	@await RenderSectionAsync("Styles", required: false)

</head>

<body>

	<!-- ================> header section start here <================== -->


	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="btn nav-link navbar-brand ps-3" asp-area="ManagementSystem" asp-controller="Home" asp-action="Index">HaveFun後台管理</a>

		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-0  me-0 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
		<!-- Navbar Search-->
		<!-- Navbar-->
		<span class=" navbar-brand"></span>
		<span class=" navbar-brand"></span>
		<span class=" navbar-brand"></span>
		<div id="app">
			<a v-if="islogin" class="btn nav-link navbar-brand" asp-area="ManagementSystem" asp-controller="Home" asp-action="Index">Admin</a>
			<a v-else class="btn nav-link navbar-brand" asp-area="ManagementSystem" asp-controller="Home" asp-action="login">登入</a>

		</div>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu" style="height:500px">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">管理選項</div>
						<a class="btn nav-link" asp-area="ManagementSystem" asp-controller="Home" asp-action="Index">首頁	</a>
						<a class="btn nav-link" asp-area="ManagementSystem" asp-controller="Home" asp-action="Index">個人貼文管理	</a>
						<a class="btn nav-link" asp-area="ManagementSystem" asp-controller="Home" asp-action="Index">個人資料管理	</a>
					</div>
				</div>

			</nav>
		</div>
		<!-- ================> header section end here <================== -->
		<div id="layoutSidenav_content">

			<div class="container-fluid px-1">
				<main role="main" class="pb-1">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>






	<!-- ================> Footer section start here <================== -->
	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid px-4">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; TIM101</div>

			</div>
		</div>
	</footer>
	<!-- ================> Footer section end here <================== -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
		const app = Vue.createApp({
			data() {
				return {
					islogin: false,
				}
			},
			computed: {
			},
			methods: {
			},
			watch: {
			},
		}).mount("#app");
	</script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/scripts.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
